.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding-top: 40px;
}
.slider {
  background-color: white;
  border: 2px solid #e7e6e4;
  border-radius: 12px;
  width: 90%;
  box-shadow: 0px 4px 0px 0px #0e0d0c1f;
  padding-bottom: 30px;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: #e7e6e4;
}
.heading {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  margin: 20px 30px;
}
.description {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-inline: 2.5%;
  color: #000000;
}

.mainTitle {
  font-family: DM Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 20px;
  padding-inline: 2.5%;
}
