<div class="body">
  <div class="inner">
    <div class="inner-body">
      <img
        src="assets/images/privacypolicy.png"
        alt="About"
        class="img-responsive"
      />
      <div class="supplypolicy-title">Privacy Policy</div>

      <div class="main-body">
        <div class="heading">Gaztron Privacy Policy</div>
        <div class="description">
          Protecting the privacy and confidentiality of our customers'
          information is of utmost importance at Gaztron. This Privacy Policy
          outlines our commitment to safeguarding the personal data and
          sensitive information collected from our clients, business partners,
          and website visitors. We adhere to the relevant data protection laws
          and regulations to ensure the highest standards of privacy and data
          security. By using our website or availing our services, you consent
          to the practices described in this Privacy Policy.
        </div>
        <ul>
          <li>
            <span style="color: #000000">1. Data Collection and Usage:</span>
            Gaztron may collect personal information, such as names, email
            addresses, contact numbers, and company details, when you interact
            with us, request information, or use our services. We use this
            information solely for the purposes of providing efficient services,
            responding to inquiries, and enhancing user experience.
          </li>
          <li>
            <span style="color: #000000">2. Data Protection and Security:</span>
            We employ strict security measures to protect the personal data
            collected from unauthorized access, alteration, disclosure, or
            destruction. Our IT systems are equipped with firewalls, encryption,
            and intrusion detection systems to safeguard your information.
          </li>
          <li>
            <span style="color: #000000">3. Purpose Limitation:</span>
            Gaztron collects and processes personal information solely for the
            purposes disclosed at the time of collection or for compatible
            purposes. We do not share your data with third parties for marketing
            purposes without your explicit consent.
          </li>
          <li>
            <span style="color: #000000">4. Consent and Control:</span>By
            providing your personal information, you consent to its collection,
            storage, and usage in accordance with this Privacy Policy. You have
            the right to access, modify, or delete your personal data, and you
            can contact us to exercise these rights.
          </li>
          <li>
            <span style="color: #000000"
              >5. Non-Disclosure to Third Parties:</span
            >
            Gaztron does not sell, trade, or transfer your personal information
            to third parties, except for specific purposes necessary to provide
            the requested services. We may share data with trusted partners who
            assist us in operating our website, conducting business, or
            servicing you, but only under strict confidentiality agreements.
          </li>
          <li>
            <span style="color: #000000"
              >6. Cookies and Tracking Technologies:</span
            >
            Our website may use cookies and tracking technologies to enhance
            user experience, gather statistical data, and analyze website
            traffic. You have the option to manage your cookie preferences
            through your web browser settings.
          </li>
          <li>
            <span style="color: #000000">7. Third-Party Links:</span> Our
            website may contain links to third-party websites or services.
            Gaztron is not responsible for the privacy practices or content of
            such external sites. We encourage users to review the privacy
            policies of those third-party platforms before interacting with
            them.
          </li>
          <li>
            <span style="color: #000000">8. Compliance with Laws:</span> Gaztron
            complies with all applicable data protection and privacy laws,
            rules, and regulations of the jurisdictions in which we operate. We
            regularly review and update our practices to stay in line with
            evolving legal requirements.
          </li>
          <li>
            <span style="color: #000000">9. Data Retention:</span>
            We retain your personal data only for as long as necessary to
            fulfill the purposes for which it was collected or as required by
            law. When data is no longer needed, it is securely disposed of or
            anonymized.
          </li>
          <li>
            <span style="color: #000000"
              >10. Updates to the Privacy Policy: </span
            >This Privacy Policy may be updated from time to time to reflect
            changes in our data handling practices. The revised policy will be
            posted on our website, and the date of the latest revision will be
            mentioned at the beginning.
          </li>
        </ul>
        <div class="description">
          At Gaztron, we are committed to maintaining the highest standards of
          privacy and data protection. Our Privacy Policy ensures that your
          personal information is handled responsibly, securely, and
          transparently, enabling us to provide you with exceptional services
          while safeguarding your trust and confidence in our organization.
        </div>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="inner-body">
      <app-key-products></app-key-products>
    </div>
  </div>

  <div class="inner">
    <div class="inner-body">
      <app-quote [options]="options"></app-quote>
    </div>
  </div>

  <div class="inner">
    <div class="inner-body">
      <app-contactpage> </app-contactpage>
    </div>
  </div>
</div>
