<div class="main-container">
  <div class="slider">
    <div class="heading">Gaztron’s Oxygen Generator (GOX-C Model)</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Gaztron Engineering Private Limited stands as a trailblazer among
      manufacturers in India, specializing in PSA Based Cylinder Filling
      Stations for Oxygen. Our extensive range includes cutting-edge PSA Based
      Gas Generating Systems and Cylinder Filling Stations, designed for the
      efficient production and filling of Oxygen Gas cylinders.
    </p>
    <p class="description">
      The heart of our technology lies in Oxygen generators that extract gaseous
      oxygen from compressed air directly at the site, ensuring a cost-effective
      and dependable supply of oxygen gas. Our standard models cater to various
      needs, offering capacities ranging from 20 to 200 cylinders per day with
      oxygen purity levels between 90% to 96%.
    </p>
    <p class="description">
      Our system is designed with user convenience in mind, guaranteeing
      hassle-free operation and requiring minimal maintenance. We have optimized
      the capital cost to provide an economical solution for your oxygen gas
      requirements. Furthermore, our systems are built to run continuously,
      24/7, ensuring an uninterrupted supply of oxygen as and when needed.
    </p>
    <p class="description">
      Embrace the undeniable expertise of Gaztron Engineering Private Limited in
      Oxygen Gas technology, making us the undisputed choice for your oxygen gas
      production and filling requirements. Trust us to deliver unparalleled
      efficiency and unwavering reliability, ensuring your operations are always
      fueled with a seamless and dependable supply of oxygen. With Gaztron
      Engineering Private Limited, you can rest assured that your oxygen needs
      will be met with absolute confidence and satisfaction.
    </p>
  </div>
  <div class="slider">
    <app-application-template
      [application]="applications"
      [title]="'Gaztron’s PSA Oxygen Generator Applications'"
      [description]="
        'Gaztron\'s Oxygen Generator Plants are sought after in various sectors worldwide. Our unwavering commitment to innovation and progress has positioned us as frontrunners in the subsequent areas of expertise:'
      "
    >
    </app-application-template>
  </div>
  <div class="slider">
    <div class="heading">
      Technical Specifications of Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>

    <ul>
      <li>
        Impressive Oxygen Production: The Gaztron's Oxygen Generator (GOX-C
        Model) is an outstanding piece of engineering, featuring a commendable
        capacity of 7 Nm3/hr. This remarkable capacity ensures a steady and
        substantial supply of oxygen gas for various applications, making it a
        reliable solution for oxygen gas production and cylinder filling.
      </li>
      <li>
        Consistent Filling Efficiency: With the ability to fill 25 cylinders per
        day, the GOX-C Model proves to be highly efficient and productive in
        meeting the demands of oxygen gas cylinder filling stations. This
        ensures a smooth and seamless operation, ensuring a constant supply of
        oxygen cylinders for various industries and medical facilities.
      </li>
      <li>
        High Purity Range: The GOX-C Model maintains an exceptional purity range
        of 90% to 95%. This level of purity adheres to stringent industry
        standards, guaranteeing the availability of premium-quality oxygen gas
        for a wide array of critical applications. Whether it's for medical use,
        industrial processes, or any other purpose, the GOX-C Model ensures the
        delivery of oxygen with unparalleled purity.
      </li>
      <li>
        Safe and Reliable Cylinder Filling: The GOX-C Model is designed to fill
        cylinders at a pressure of 140 Kg/cm2, ensuring a secure and reliable
        filling process. This capability enables the generator to supply
        high-pressure oxygen cylinders suitable for various industrial and
        medical applications.
      </li>
      <li>
        Enhanced Cylinder Filling Capacity: Equipped with four cylinder filling
        manifolds on each side, the GOX-C Model enhances productivity and
        reduces downtime during the cylinder filling process. This smart design
        enables simultaneous filling of multiple cylinders, further increasing
        the efficiency and output of the oxygen gas production system.
      </li>
    </ul>
    <p class="inner-description">
      The Gaztron's Oxygen Generator (GOX-C Model) with its impressive capacity,
      wide purity range, and multi-filling manifold system stands as a testament
      to Gaztron's commitment to providing advanced and reliable solutions for
      oxygen gas production and cylinder filling. Whether in medical facilities,
      industrial processes, or other critical operations, this generator ensures
      a consistent and high-purity supply of oxygen gas, meeting the demands of
      various industries and applications with utmost efficiency.
    </p>
  </div>
  <div class="slider">
    <app-specification
      title="Available Models of Gaztron’s Oxygen Generator (GOX-C Model)"
      [tableContent]="tableModelContent"
      [headings]="tableModelHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
      [borderRight]="'1px solid rgb(219, 219, 219)'"
    ></app-specification>
  </div>
  <div class="slider">
    <div class="heading">
      The primary equipment utilized in Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>Air Compressor</li>
      <li>After Cooler</li>
      <li>Moisture Separator</li>
      <li>Air Dryer</li>
      <li>Air Receiver</li>
      <li>Three Stage Air Filtration System</li>
      <li>Twin Tower PSA System with Automatic Valve</li>
      <li>Gas Mixture System</li>
      <li>Twin Tower Copper Filled – Copper Unit</li>
      <li>Gas Dryer</li>
      <li>Gas Storage tank</li>
      <li>Ammonia Cracker or Gas Cylinder Unit</li>
      <li>
        All accessories with Analyser, Auto Drain Valve, Safety Valve, PRV etc.
      </li>
    </ul>
  </div>

  <div class="slider">
    <div class="heading">
      The operational principle of Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>
    <p class="inner-description">
      The Gaztron's Oxygen Generator (GOX-C Model) for cylinder filling stations
      sets a new standard in oxygen gas production, establishing itself as
      India's premier manufacturer for cylinder filling purposes. Operating on a
      cutting-edge principle called pressure swing adsorption (PSA) technology,
      this advanced system ensures a continuous and reliable supply of
      high-purity oxygen gas for filling cylinders.
    </p>
    <p class="inner-description">
      The operational process of the GOX-C Model begins with the intake of a gas
      mixture, typically air, which is pressurized and introduced into the
      generator's adsorption vessel. Within this vessel lies the heart of the
      system - a zeolite adsorbent bed. Zeolite, known for its exceptional
      affinity for nitrogen, selectively captures and retains the nitrogen
      molecules present in the gas mixture as it flows through the bed.
      Meanwhile, oxygen molecules pass through more freely, leading to an
      enriched oxygen content in the outgoing gas stream.
    </p>
    <p class="inner-description">
      With this unique adsorption process, the GOX-C Model can achieve an
      impressive purity range of 90% to 95%, adhering to stringent industry
      standards. The enriched oxygen gas is then utilized for filling cylinders
      at a high pressure of 140 Kg/cm2, ensuring a secure and reliable supply of
      oxygen for various applications.
    </p>
    <p class="inner-description">
      The GOX-C Model's efficient design includes four cylinder filling
      manifolds on each side, enhancing productivity and reducing downtime
      during the cylinder filling process. This feature allows for simultaneous
      filling of multiple cylinders, further increasing efficiency and output.
    </p>

    <p class="inner-description">
      As the zeolite bed reaches its adsorption capacity, it undergoes a
      regeneration process to restore its adsorption capabilities. This cyclic
      operation ensures a continuous supply of high-purity oxygen by alternately
      adsorbing nitrogen and regenerating the zeolite bed.
    </p>
    <p class="inner-description">
      Being India's leading manufacturer of oxygen generators for cylinder
      filling purposes, Gaztron's GOX-C Model stands as a symbol of innovation,
      reliability, and technological advancement in the field of oxygen gas
      production. With its impressive capacity range, wide purity range, and
      versatile cylinder filling capabilities, this generator meets the demands
      of various industries, medical facilities, and critical operations across
      the nation. Whether it's for medical use, industrial processes, or any
      other purpose, Gaztron's Oxygen Generator (GOX-C Model) guarantees the
      provision of premium-quality oxygen gas, reinforcing its position as the
      foremost choice for cylinder filling stations in India.
    </p>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>
        PSA systems demonstrate their advantageous nature on-site, ensuring the
        convenient availability of Oxygen.
      </li>
      <li>
        It offers a more cost-effective method compared to alternative cryogenic
        procedures.
      </li>
      <li>
        It guarantees reduced financial losses during shutdowns in comparison to
        cryogenic methods.
      </li>
      <li>
        The unit is readily accessible, facilitating swift delivery and
        purchase.
      </li>
    </ul>
  </div>

  <div class="slider">
    <app-specification
      title="Capacity of Gaztron’s Oxygen Generator (GOX-C Model) In Terms of Cylinder Filled & Beds Catered"
      description="Gaztron's Gox-C model Oxygen Generator is a trusted and versatile piece of equipment that has demonstrated exceptional performance in producing oxygen gas. It has been a vital asset in India's fight against COVID-19, providing essential services to hospitals across the nation."
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
    ></app-specification>
  </div>

  <div class="slider">
    <app-scope></app-scope>
  </div>
  <div class="slider">
    <div class="heading">
      Delivery Period of Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/cudx.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our Oxygen Generator apart from others"
      [content]="generators"
    ></app-generators>
  </div>

  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-5"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
