<div>
  <footer>
    <div class="full" (click)="scrollToTop()">
      <div class="outer-hexagon">
        <div class="inner-hexagon">
          <i class="fa-sharp fa-solid fa-chevron-up"></i>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="left-column">
        <div class="left">
          <img
            src="assets/images/logo-white.png"
            alt="Logo"
            [routerLink]="['']"
            routerLinkActive="router-link-active"
          />
          <p class="description">
            Empowering industries with cutting-edge technological solutions and
            unwavering commitment to excellence, to enhance productivity and
            drive success.
          </p>
          <div class="links">
            <a href="https://www.linkedin.com/company/gaztron-engineering-private-limited/" target="_blank">
              <i class="m-1 linkdin fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://twitter.com/GaztronIndia" target="_blank">
              <i class="m-1 twitter fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/GaztronEngineering/" target="_blank">
              <i class="m-1 facebook fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/gaztronindia/" target="_blank">
              <i class="m-1 instagram fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/@gaztronengineeringpvtltd-n7856" target="_blank">
              <i class="m-1 youtube fa-brands fa-youtube"></i>
            </a>
            <a href="#">
              <i class="m-1 whatsapp fa-brands fa-whatsapp"></i>
            </a>
          </div>
          <div class="language">Select Language</div>
          <app-translate></app-translate>
        </div>

        <div class="right">
          <div class="row">
            <h2>Products</h2>
            <div class="divider"></div>
            <a routerLink="nav-nitrogen" (click)="scrollToTop()">PSA Nitrogen Generator Plant</a>
            <a routerLink="nav-oxygen" (click)="scrollToTop()">PSA Oxygen Generator Plant</a>
            <a routerLink="nav-hydrogen" (click)="scrollToTop()">Hydrogen Generator</a>
            <a routerLink="cryogenic-asu" (click)="scrollToTop()">Cryogenic ASU Gas Plants</a>
            <a routerLink="air-dryer" (click)="scrollToTop()">Air Dryer</a>
          </div>
          <div class="row">
            <h2>Company</h2>
            <div class="divider"></div>
            <a routerLink="about" (click)="scrollToTop()">About Us</a>
            <a routerLink="career" (click)="scrollToTop()">Careers</a>
            <a routerLink="blogs" (click)="scrollToTop()">Blogs</a>
          </div>

          <div class="row">
            <h2>Support</h2>
            <div class="divider"></div>
            <a routerLink="contact" (click)="scrollToTop()">Contact Us</a>
            <a routerLink="privacypolicy" (click)="scrollToTop()">Privacy Policy</a>
            <a routerLink="supplypolicy" (click)="scrollToTop()">Supply Policy</a>
          </div>
        </div>
      </div>
      <div class="left-column">
        <div class="left"></div>
        <div class="right">
          <div class="row">
            <h2>Gaztron Headquarter</h2>
            <div class="divider"></div>
            <div class="social">
              <a href="tel:+91-8447203393">
                <i class="phone fa-solid fa-phone"></i>
              </a>
              <a href="tel:+91-8447203393">+91-8447203393</a>
            </div>
            <div class="social">
              <a href="https://wa.me/8447203393" target="_blank">
                <i class="whatsapp fa-brands fa-whatsapp"></i>
              </a>
              <a href="https://wa.me/8447203393" target="_blank">8447203393</a>
            </div>
            <div class="social">
              <a href="mailto:info@gaztron.in" target="_blank">
                <i class="gmail fa-solid fa-envelope"></i>
              </a>
              <a href="mailto:info@gaztron.in" target="_blank">info@gaztron.in</a>
            </div>
            <div class="social">
              <a href="#">
                <i class="location fa-solid fa-location-dot"></i>
              </a>
              <a href="#"
                >Industrial Plot No. - 179, Udyog Kendra - I, Ecotech- III,
                Greater Noida - 201306</a
              >
            </div>
          </div>
          <div class="row">
            <h2>Manufacturing Unit 2</h2>
            <div class="divider"></div>
            <div class="social">
              <a href="tel:+91-8447203393">
                <i class="phone fa-solid fa-phone"></i>
              </a>
              <a href="tel:+91-8447203393">+91-8447203393</a>
            </div>
            <div class="social">
              <a href="https://wa.me/8447203393" target="_blank">
                <i class="whatsapp fa-brands fa-whatsapp"></i>
              </a>
              <a href="https://wa.me/8447203393" target="_blank">8447203393</a>
            </div>
            <div class="social">
              <a href="#">
                <i class="gmail fa-solid fa-envelope"></i>
              </a>
              <a href="#">info@gaztron.in</a>
            </div>
            <div class="social local">
              <a href="#">
                <i class="location fa-solid fa-location-dot"></i>
              </a>
              <div class="loca">
                <a href="#"
                  >Industrial Plot No. - 179, Udyog Kendra - I, Ecotech- III,
                  Greater Noida - 201306</a
                >
              </div>
            </div>
          </div>

          <div class="row">
            <h2>Manufacturing Unit 3</h2>
            <div class="divider"></div>
            <div class="social">
              <a href="#">
                <i class="phone fa-solid fa-phone"></i>
              </a>
              <a href="#">+91-8447203393</a>
            </div>
            <div class="social">
              <a href="#">
                <i class="whatsapp fa-brands fa-whatsapp"></i>
              </a>
              <a href="#">8447203393</a>
            </div>
            <div class="social">
              <a href="#">
                <i class="gmail fa-solid fa-envelope"></i>
              </a>
              <a href="#">info@gaztron.in</a>
            </div>
            <div class="social">
              <a href="#">
                <i class="location fa-solid fa-location-dot"></i>
              </a>
              <a href="#"
                >Industrial Plot No. - 179, Udyog Kendra - I, Ecotech- III,
                Greater Noida - 201306</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright">
    Copyright © 2023 - All right reserved. Made with ❤️ by Gaztron
  </div>
</div>
