<div class="main-container">
  <div class="left-column">
    <div class="image-container">
      <img
        class="bottom-dots"
        src="assets/images/blue-dots.png"
        alt="Overlay Image"
      />
      <img
        class="main-image"
        src="assets/images/psa-oxygen.png"
        alt="Main Image"
      />
      <img
        class="top-dots"
        src="assets/images/blue-dots.png"
        alt="Overlay Image"
      />
    </div>
  </div>
  <div class="right-column">
    <div class="title">
      <div class="number">02.</div>
      PSA Oxygen Generator
    </div>
    <div class="description">
      We India’s leading manufacturer and supplier of state-of-the-art PSA
      Oxygen Generators that deliver purities of up to 95% and delivery
      pressures of up to 5 kg/cm2, with a flow rate range of 5 Nm3/hr to 200
      Nm3/hr. Our Oxygen Gas Generators are widely used across diverse
      industries, including steel, brazing, welding, healthcare, and metal
      processing, to ensure a reliable source of oxygen for their industrial
      processes. Our PSA Oxygen Generators offer a cost-effective and efficient
      way of producing Oxygen on-site, providing industries with a reliable and
      flexible source of Oxygen supply. Our Generators are also widely used in
      hospitals as on-site Oxygen Generators, ensuring a steady and safe supply
      of Oxygen for patients.
    </div>

    <div class="row">
      <div class="icon">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="content">
        Gaztron's Oxygen Gas Generators are designed to cater to a wide range of
        flow rates, starting from as low as 1 nm3/hr to 200 nm3/hr. Our
        generators can produce oxygen with a purity of up to 93% and a density
        of 5 kg/cm2g, with an impressively low dew point of (-) 40°C.
      </div>
    </div>
    <div class="row">
      <div class="icon">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="content">
        Gaztron's Oxygen Generators find extensive use across various
        industries, including glass manufacturing, metallurgy, chemical
        processing, water and wastewater treatment, metal gas welding, cutting,
        and brazing, as well as in fish farming. These industries rely on our
        generators to provide a reliable source of high-quality oxygen to
        support their processes and operations.
      </div>
    </div>
    <div class="row-2">
      <button class="quote">Request a quote</button>
      <button class="learn-more" routerLink="nav-oxygen">Learn More</button>
    </div>
  </div>
</div>
