<div class="body">
    <div class="inner">
      <div class="inner-body">
          <img src="assets/images/p1.png" alt="About" class="img-responsive" />
      </div>
    </div>
    <div class="inner">
        <div class="inner-body">
          <app-multislider></app-multislider>
        </div>
      </div>
      <div class="inner">
        <div class="inner-body">
          <app-projects></app-projects>
        </div>
      </div>
    <div class="inner">
      <div class="inner-body">
        <app-key-products></app-key-products>
      </div>
    </div>
  
    <div class="inner">
      <div class="inner-body">
        <app-quote [options]="options"></app-quote>
      </div>
    </div>
  
    <div class="inner">
      <div class="inner-body">
        <app-contactpage> </app-contactpage>
      </div>
    </div>
  </div>
  