<div class="main-container">
  <div class="left-column">
    <div class="image-container">
      <img
        class="bottom-dots"
        src="assets/images/white-dots.png"
        alt="Overlay Image"
      />
      <img
        class="main-image"
        src="assets/images/ammonia-cracker.png"
        alt="Main Image"
      />
      <img
        class="top-dots"
        src="assets/images/white-dots.png"
        alt="Overlay Image"
      />
    </div>
  </div>
  <div class="right-column">
    <div class="title">
      <div class="number">03.</div>
      Ammonia Cracker
    </div>
    <div class="description">
      We are India’s premier manufacturer and designer of Ammonia Crackers and
      Purifiers, offering a diverse range of products that cater to a wide range
      of requirements. Our product range includes models that provide cracked
      Ammonia Gas with dew points as low as (-80°) and flow rates ranging from
      3Nm3/hr to 500Nm3/hr. Our expert engineers ensure that the cracked gas is
      available at pressures between 1 kg/cm2 and 8 kg/cm2, ensuring optimal
      performance for your operations.
    </div>

    <div class="row">
      <div class="icon">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="content">
        At Gaztron, we offer a versatile range of Ammonia Cracker Units, with
        flow rates ranging from 3 Nm3/hr to 500 Nm3/hr and a dew point of
        (-80°). Our units operate within a pressure range of 1 Kg/cm2 and 8
        Kg/cm2, providing optimal performance for a variety of industrial
        applications.
      </div>
    </div>
    <div class="row">
      <div class="icon">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="content">
        Gaztron Ammonia Cracker is an essential component for a variety of
        industrial processes, including reducing furnace environments, heat
        treatment furnaces such as annealing, sintering, and galvanizing, as
        well as the bright annealing of both carbon and stainless steel. Our
        high-quality cracker units provide reliable and efficient performance to
        meet the demands of these critical applications.
      </div>
    </div>
    <div class="row-2">
      <button class="quote">Request a quote</button>
      <button class="learn-more" routerLink="ammonia-cracker">Learn More</button>
    </div>
  </div>
</div>
