@import '~@fortawesome/fontawesome-free/css/all.min.css';


.main-container {
  display: flex;
  background: linear-gradient(to bottom, black 0%, black 40%, #354ED2 100%);
}

.left-column,
.right-column {
  width: 50%;
}
.left-column {
  display: flex;

  justify-content: center;
  padding: 80px 40px;
}
.right-column{
    margin-top: 60px;
    /* margin-left: 10px; */
    margin-right: 30px;
}
.image-container {
  position: relative;
  display: inline-block;
}

.main-image {
  position: relative;
  display: block;
  z-index: 3;
  width: 100%;
}

.top-dots {
  position: relative;
  top: -34px;
  left: -32px;
}
.bottom-dots {
  position: absolute;
  top: -32px;
  right: -34px;
}



.number{
font-size: 55px;
padding-right: 20px;

}

.title{
    display: flex;
    color: white;
    font-family: DM Sans;
font-size: 45px;
font-weight: 700;
line-height: 66px;
letter-spacing: 0px;
text-align: left;
padding-block: 20px;
}

.description{
font-family: 'DM Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
}
.icon i{
    text-align: center;
    color: #47CA5C;
    background-color: #D6F1DA;
    width: 16px;
height: 16px;

}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D6F1DA;
    height: 25px;
    width: 25px;
    border-radius: 25px;
}

.content{
font-family: 'DM Sans';
font-style: normal;
font-size: 16px;
line-height: 25px;
color: #FFFFFF;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-block: 40px;

}
.row-2{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-block: 40px;

}
.quote{
    font-family: DM Sans;
font-size: 24px;
font-weight: 700;

text-align: center;
color: white;
    width: 238px;
height: 48px;
border-radius: 10px;
background: #68D157;
border: none;
margin-right: 10px;
margin-top: 20px;

}

.learn-more{
    width: 179px;
height: 48px;
border-radius: 10px;
font-family: DM Sans;
font-size: 24px;
font-weight: 700;
text-align: center;
background-color: white;
color: #354ed2;
border: none;
margin-left: 10px;
margin-top: 20px;
}

@media (max-width:1000px) {
    .main-container{
        flex-direction: column;
    }
    .left-column, .right-column{
        width: 100%;
        padding-inline: 20px;
    }
}
@media (max-width:650px) {
    .image-container{
        width: 90%;
    }
}
@media (max-width: 550px) {
    .row-2{
        flex-direction: column;
        align-items: center;
    }
    .title{
        flex-direction: column;
    }
}