<div class="main-container">
  <div class="slider">
    <div class="heading">Gaztron’s Nitrogen Blanketing for Storage Tanks</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Gaztron: Pioneering Nitrogen Blanketing for Storage Tanks
    </p>
    <p class="description">
      Gaztron, the premier manufacturer of Nitrogen Blanketing for Storage Tanks
      in India, is dedicated to providing cutting-edge and internationally
      approved equipment for blanketing and inerting processes. With a
      commitment to excellence, we deliver top-notch ATEX approved solutions
      that ensure safety, efficiency, and optimal performance for your storage
      tanks.
    </p>
    <p class="description">
      Nitrogen blanketing, also known as inert gas blanketing, is a highly
      effective method for preventing explosions and enhancing the storage
      stability of flammable liquids in tanks. By maintaining the oxygen content
      in the gas phase below 10 vol%, most gases and vapors become non-ignitable
      at room temperature and atmospheric pressure. This results in a secure
      pillow of inert gas or atmosphere above the liquid phase, creating a
      protective barrier.
    </p>
    <p class="description">
      At Gaztron, we understand the criticality of ensuring a well-maintained
      gas supply net for inert gas blanketing systems. Our team of experts will
      assess your specific requirements, considering factors such as liquid AFR
      consumption, tank sizes, pressure design, and climate conditions. Based on
      these considerations, we will determine the most suitable inert gas supply
      system for your application.
    </p>
    <p class="description">
      Whether it's a large-scale industrial facility or a smaller storage setup,
      Gaztron offers a range of solutions to meet your nitrogen requirements.
      For continuous and stable nitrogen consumption, our on-site inert gas
      generation technology presents a cost-effective and reliable option. This
      approach not only ensures a constant supply of nitrogen but also reduces
      dependency on external sources, resulting in enhanced operational
      efficiency.
    </p>
    <p class="description">
      As a leader in the industry, Gaztron adheres to stringent quality
      standards and employs the latest technologies to manufacture equipment
      that aligns with international safety regulations and industry best
      practices. Our ATEX approved equipment guarantees a safe and secure
      blanketing process, providing you with peace of mind and assurance in your
      storage operations.
    </p>
    <p class="description">
      Join numerous satisfied customers who have entrusted Gaztron with their
      nitrogen blanketing needs. With a solid track record of delivering
      exceptional solutions, we have earned the reputation of being the most
      reliable and trusted manufacturer in India.
    </p>
    <p class="description">
      Contact Gaztron today and experience the unparalleled quality and
      professionalism that sets us apart. Our dedicated team of experts is eager
      to assist you in optimizing your storage tank operations with our
      top-of-the-line Nitrogen Blanketing solutions. Together, let's elevate
      your safety standards and achieve unparalleled efficiency in your storage
      processes.
    </p>
  </div>

  <div class="slider">
    <div class="heading">
      Gaztron's Principle of Nitrogen Inertization/Blanketing: Redefining Safety
      in Combustible Atmospheres
    </div>
    <div class="divider"></div>

    <p class="inner-description">
      As India's leading manufacturer in the field, Gaztron takes immense pride
      in presenting our pioneering principle of inertization, a cutting-edge
      technology that revolutionizes safety standards in combustible
      atmospheres. The core essence of this principle lies in its ability to
      effectively reduce the oxygen content of the environment to a level where
      the risk of fires or explosions is completely eliminated.
    </p>
    <p class="inner-description">
      Central to the success of our inertization principle is the concept of
      "limiting oxygen concentration" – the critical threshold where flame
      propagation becomes impossible. This value is influenced by multiple
      factors, including the characteristics of the flammable substance, the
      type of inert gas employed, as well as the prevailing temperature and
      pressure conditions.
    </p>
    <p class="inner-description">
      At Gaztron, we firmly stand at the forefront of the industry, dedicated to
      comprehensively analyzing each client's unique requirements and
      operational conditions. As a result, we offer a robust and foolproof N2
      Inertisation/Blanketing System meticulously tailored for a wide array of
      applications. These include Storage Tank Blanketing, Truck Unloading
      Blanketing, as well as Flammable Zone or Combustible Atmosphere Inerting
      systems.
    </p>
    <p class="inner-description">
      Our commitment to excellence is evident in our advanced technology and
      unparalleled expertise, enabling us to provide bespoke solutions that
      guarantee the utmost safety and efficiency in diverse industrial settings.
      With Gaztron's principle of nitrogen inertization, businesses can now
      operate with complete peace of mind, knowing that they are shielded from
      potential hazards.
    </p>
    <p class="inner-description">
      Gaztron's principle of Nitrogen inertization/blanketing serves as the
      pinnacle of safety measures in dealing with combustible atmospheres. As we
      continue to push the boundaries of innovation and engineering, our aim
      remains unwavering: to safeguard lives, protect assets, and ensure
      uninterrupted industrial operations. Trust Gaztron for state-of-the-art
      solutions that redefine safety standards, setting new benchmarks for the
      industry.
    </p>
  </div>

  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s Nitrogen Blanketing for
      Storage Tanks
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/nitrogen-blanketing-diagram.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our Nitrogen Blanketing Units apart from others"
      [content]="generators"
    ></app-generators>
  </div>
  <div class="slider">
    <app-nitrogen-chart></app-nitrogen-chart>
  </div>
  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-1"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
