<div class="image-container">
  <img src="assets/images/a.png" alt="About" class="img-responsive" />
  <h3>How It Works?</h3>
  <p>
    Our Ammonia Cracking units feature advanced Catalytic Hydrogen Gas
    Generators that utilize innovative cracking technology to dissociate Ammonia
    (NH3) into Hydrogen and Nitrogen, ensuring reliable and consistent hydrogen
    gas production.
  </p>
  <div class="formula">
    <h1>2 x</h1>
    <img src="assets/images/a1.png" alt="" class="formula-image"/>
    <h1>=</h1>
    <h1>3 x</h1>
    <img src="assets/images/a2.png" alt="" class="formula-image"/>
    <h1>+</h1>
    <img src="assets/images/a3.png" alt="" class="formula-image"/>
  </div>
  <p>
    1.The feedstock for our process is refrigeration-grade Ammonia, obtained from
    cylinders or tanks, which yields a product gas containing 75% Hydrogen and
    25% Nitrogen. To meet specific customer needs, the gas can be further
    purified using a Molecular Sieves unit to eliminate un-cracked Ammonia and
    moisture.
  </p>
</div>
