<div class="main-container">
  <div class="slider">
    <div class="heading">Gaztron’s Nitrogen Gas Generator Plant (MS Model)</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Gaztron Engineering Private Limited stands tall as India's unrivaled
      champion in the realm of manufacturing and exporting cutting-edge PSA
      Nitrogen N2 Gas Generator Plants. Our flagship MS Model has garnered
      widespread acclaim across diverse industries, catering to a myriad of
      applications with purity levels ranging from an impressive 90% to an
      unparalleled 99.99%.
    </p>
    <p class="description">
      At Gaztron, we take immense pride in crafting state-of-the-art Nitrogen
      Gas Generator Plants that redefine industry standards. With unmatched
      engineering prowess and a commitment to innovation, our MS Model stands as
      a testament to our unwavering dedication to excellence.
    </p>
    <ul>
      <li>
        Unmatched Precision: The Gaztron MS Model Nitrogen Gas Generator Plant
        ensures precision like never before. Each component is meticulously
        crafted and integrated, resulting in nitrogen gas purity that leaves no
        room for compromise.
      </li>
      <li>
        Reliability Redefined: Industries worldwide entrust the Gaztron MS Model
        for its unparalleled reliability. Our gas generator plants operate
        seamlessly, providing a steady and dependable supply of nitrogen to fuel
        your diverse applications.
      </li>
      <li>
        Unleashing Versatility: The Gaztron MS Model is engineered to adapt
        flawlessly to a wide spectrum of industries, from pharmaceuticals to
        electronics, metalworking to food and beverage. Whatever your unique
        requirements, our gas generator plant delivers with unmatched
        versatility.
      </li>
      <li>
        Leading the Green Revolution: At Gaztron, we believe in sustainability
        and environmental stewardship. Our MS Model Nitrogen Gas Generator Plant
        boasts remarkable energy efficiency, reducing carbon footprint while
        ensuring cost-effectiveness.
      </li>
      <li>
        Customer-Centric Approach: Our success stems from understanding and
        exceeding our customers' expectations. With Gaztron, you can expect
        unparalleled after-sales support, prompt service, and tailor-made
        solutions to address your specific needs.
      </li>
    </ul>
    <p class="description">
      Elevate your operations to unprecedented heights with Gaztron's Nitrogen
      Gas Generator Plant - the epitome of confidence, precision, and ingenuity.
      Join countless satisfied clients who have revolutionized their industries
      with our cutting-edge MS Model. Embrace excellence today, with Gaztron
      Engineering Private Limited.
    </p>
  </div>
  <div class="slider">
    <app-application-template
      [application]="applications"
      [title]="'Gaztron’s PSA Nitrogen Generator Applications'"
      [description]="
        'Gaztron\'s Nitrogen Gas Generator Plants have earned a coveted global reputation, celebrated for their outstanding performance across diverse sectors. Our steadfast dedication to constant innovation and advancement has firmly established us as pioneers in various specialized fields:'
      "
    >
    </app-application-template>
  </div>
  <div class="slider">
    <div class="heading">
      Technical Specifications of Gaztron’s Nitrogen Gas Generator Plant (MS
      Model)
    </div>
    <div class="divider"></div>

    <ul>
      <li>
        Behold the Gaztron Nitrogen Generator, now offered in an expansive Flow
        Range, spanning from 5 Nm3/hr to an astounding 1000 Nm3/hr, ensuring a
        seamless supply to meet even the most demanding requirements.
      </li>
      <li>
        Elevate your operations with nitrogen gas purity levels that are simply
        unparalleled! Choose from a spectrum of options ranging from an
        impressive 98% to an extraordinary 99.9%, empowering your applications
        with precision and efficiency.
      </li>
      <li>
        Conquer extreme conditions with ease! Gaztron's Nitrogen Gas Generator
        Plant redefines resilience with a remarkable Nitrogen Gas Dew Point,
        encompassing temperatures from a chilling -40 Deg Centigrade to an
        impressive 80 Deg Centigrade.
      </li>
      <li>
        Power your endeavors with unmatched versatility! Gaztron offers a
        diverse range of Nitrogen Gas Pressure options, spanning from 5 Kg/cm2
        to a robust 140 Kg/cm2, catering to a myriad of industries and
        applications with unwavering force.
      </li>
    </ul>
    <p class="inner-description">
      Get ready to revolutionize your operations with Gaztron's Technical
      Masterpiece - The Nitrogen Gas Generator Plant (MS Model). Embrace supreme
      confidence in your nitrogen supply and propel your endeavors to
      unprecedented heights!
    </p>
  </div>
  <div class="slider">
    <app-specification
      title="Available Models of Gaztron’s Nitrogen Gas Generator Plant (MS Model)"
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
      [borderRight]="'1px solid rgb(219, 219, 219)'"
    ></app-specification>
  </div>

  <div class="slider">
    <div class="heading">
      The primary equipment utilized in Gaztron’s Nitrogen Gas Generator Plant
      (MS Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>Air Compressor</li>
      <li>After Cooler</li>
      <li>Moisture Separator</li>
      <li>Air Dryer</li>
      <li>Air Receiver</li>
      <li>Three Stage Air Filtration System</li>
      <li>Twin Tower PSA System with Automatic Valve</li>
      <li>Gas Mixture System</li>
      <li>Twin Tower Copper Filled – Copper Unit</li>
      <li>Gas Dryer</li>
      <li>Gas Storage tank</li>
      <li>Ammonia Cracker or Gas Cylinder Unit</li>
      <li>
        All accessories with Analyser, Auto Drain Valve, Safety Valve, PRV etc.
      </li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      The operational principle of Gaztron’s Nitrogen Gas Generator Plant (MS
      Model)
    </div>
    <div class="divider"></div>
    <p class="inner-description">
      Gaztron's Nitrogen Gas Generator Plant (MS Model) operates on a
      sophisticated and efficient principle, making it a cutting-edge solution
      for on-site gas supply. The technology employed in this plant is Pressure
      Swing Adsorption (PSA), a revolutionary air separation technique renowned
      for its reliability and effectiveness.
    </p>

    <p class="inner-description">
      The process begins with the passage of air through a vessel containing a
      highly absorbent Carbon Molecular Sieve (CMS) bed. This CMS bed possesses
      a unique characteristic: it exhibits a stronger affinity for oxygen
      compared to nitrogen. As a result, oxygen molecules are trapped within the
      bed, while the outgoing gas is enriched in nitrogen content. This
      ingenious mechanism enables the continuous production of nitrogen with
      exceptional purity.
    </p>
    <p class="inner-description">
      To ensure uninterrupted nitrogen production, the CMS bed must be
      regenerated once it reaches its maximum oxygen absorption capacity. This
      is achieved by reducing the pressure in the vessel, liberating the
      absorbed oxygen, and initiating another cycle for nitrogen generation.
    </p>
    <p class="inner-description">
      The PSA equipment consists of two adsorption towers, namely Tower A and
      Tower B, each equipped with specialized installations of the Carbon
      Molecular Sieve and an advanced control system. The process commences when
      clean compressed air enters Tower A and flows through the Carbon Molecular
      Sieve, where oxygen, carbon dioxide, and water are adsorbed (usually at a
      pressure of 0.8MPa). On the other hand, the nitrogen-rich product exits
      from the top of Tower A.
    </p>
    <p class="inner-description">
      As the adsorption process in Tower A reaches its saturation point, it
      automatically halts, diverting the compressed air into Tower B. In Tower
      B, the oxygen adsorption and nitrogen production take place concurrently,
      while the regeneration process for the Carbon Molecular Sieve in Tower A
      is initiated. The regeneration involves releasing the trapped gases into
      the atmosphere, equalizing the pressure with the ambient atmospheric
      conditions.
    </p>
    <p class="inner-description">
      Gaztron's Nitrogen Gas Generator Plant (MS Model) employs the PSA
      technology, which optimizes the adsorption process based on varying air
      pressures. By capitalizing on the distinct affinity of Carbon Molecular
      Sieve for different gases, the plant consistently delivers high-purity
      nitrogen, making it an indispensable and reliable on-site gas supply
      solution.
    </p>
  </div>
  <div class="slider">
    <div class="heading">
      Gaztron’s Nitrogen PSA (Pressure Swing Adsorption) Technology Progression
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/ms-model-diagram.png" alt="" />
    </div>
    <div class="inner-description">
      Gaztron's Nitrogen Pressure Swing Adsorption (PSA) technology progresses
      through distinct stages, each carefully engineered to deliver optimal
      performance and consistently high-purity nitrogen. Allow us to elaborate
      on the intricate steps that make Gaztron's PSA technology truly
      exceptional:
    </div>
    <ul>
      <li>
        Feed Air Compression and Conditioning: In this initial phase, ambient
        air undergoes a meticulous process of compression, executed with utmost
        precision by our state-of-the-art air compressor. Subsequently, the
        compressed air is thoroughly dried using an advanced air dryer, ensuring
        absolute moisture removal. Before entering the process vessels, the air
        is subjected to a meticulous filtration procedure, guaranteeing a clean
        and pristine feed for further processing.
      </li>
      <li>
        Pressurization and Adsorption: Once the feed air is expertly
        pre-treated, it is introduced into a specialized vessel that contains
        the remarkable carbon molecular sieve (CMS). Within these pores, the CMS
        selectively adsorbs oxygen while allowing nitrogen with adjustable
        purity to remain in the gas stream. As the carbon molecular sieve nears
        its adsorption capacity, a smooth transition occurs, seamlessly shifting
        to another adsorber vessel, thereby ensuring continuous nitrogen
        separation.
      </li>
      <li>
        Desorption: The liberation of the adsorbed gases is the next crucial
        step in our cutting-edge PSA technology. We accomplish this through a
        carefully orchestrated series of pressure reduction steps, facilitated
        by a sophisticated pressure release system. As a result of this process,
        a waste stream is generated, which is safely vented into the atmosphere.
        Consequently, the regenerated adsorbent can be reused to perpetuate the
        nitrogen generation process.
      </li>
      <li>
        Nitrogen Receiver: At Gaztron, we recognize the significance of
        simultaneous adsorption and desorption processes. Consequently, our
        revolutionary PSA technology utilizes two adsorber vessels, one actively
        engaged in adsorption while the other undergoes regeneration. This
        arrangement ensures a consistent and uninterrupted flow of nitrogen
        production, guaranteeing purity levels of up to an astounding 99.995%
        and pressures reaching 7.5 bar (g)/ 110 PSIG.
      </li>
      <li>
        Nitrogen Product: The culmination of Gaztron's Nitrogen PSA technology
        is an impressive and unwavering outcome—an on-site produced, high-purity
        nitrogen stream. Our technology's ingenuity and precision ensure that
        your nitrogen requirements are met with exceptional efficiency and
        reliability.
      </li>
    </ul>
    <div class="inner-description">
      Gaztron's Nitrogen PSA technology represents the pinnacle of innovation
      and engineering excellence. With a firm commitment to quality and a
      relentless pursuit of perfection, we deliver a constant supply of
      high-purity nitrogen, tailored to meet your specific industrial needs.
      Trust in Gaztron, and embrace a new era of nitrogen generation technology
      that sets unprecedented standards in the industry.
    </div>
  </div>
  <div class="slider">
    <div class="heading">
      Delivery Period of Gaztron’s Nitrogen Gas Generator Plant (MS Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s Nitrogen Gas Generator Plant (MS Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>
        PSA systems guarantee reliable on-site availability of Oxygen, ensuring
        seamless supply and convenience.
      </li>
      <li>
        When compared to alternative cryogenic procedures, PSA systems emerge as
        a more cost-effective and economical method.
      </li>
      <li>
        Opting for PSA systems minimizes financial losses during shutdowns, in
        stark contrast to the uncertainties associated with cryogenic methods.
      </li>
      <li>
        The readily accessible unit of PSA systems facilitates swift delivery
        and easy purchase, enabling uninterrupted Oxygen availability for your
        operations.
      </li>
    </ul>
  </div>
  <div class="slider">
    <app-scope></app-scope>
  </div>

  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s Nitrogen Gas Generator Plant
      (MS Model)
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/cudx.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our PSA Nitrogen Generator apart from others"
      [content]="generators"
    ></app-generators>
  </div>
  <div class="slider">
    <app-nitrogen-chart></app-nitrogen-chart>
  </div>
  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-5"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
