<div class="main-container">
  <div class="slider">
    <div class="heading">
      Gaztron’s Nitrogen Gas Generator Plant (CU-DX Model)
    </div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Gaztron stands as the paramount name in India's realm of manufacturing and
      exporting, specializing in the production of cutting-edge Ultra-pur
      Nitrogen gas generators, particularly the esteemed CU - DX model PSA based
      generators and plants. Our relentless pursuit of excellence has positioned
      us at the forefront of the industry, leading the way with groundbreaking
      technology and innovative solutions.
    </p>
    <p class="description">
      At Gaztron, we take immense pride in our diverse array of CU - DX Model
      Nitrogen Gas Generators, each one meticulously designed to deliver
      unparalleled performance. Our generators are engineered to produce
      nitrogen gas of the highest purity, boasting an astounding 99.9999% purity
      level (1 PPM). This remarkable achievement ensures that the nitrogen
      generated is absolutely free from any impurities, be it oxygen or
      hydrogen.
    </p>
    <p class="description">
      The driving force behind our success lies in our unwavering commitment to
      perfection and adherence to stringent quality standards. We have
      meticulously crafted our CU - DX Model Nitrogen Gas Generator to eliminate
      even the slightest traces of hydrogen content, guaranteeing an immaculate
      end-product. This level of purity is unparalleled in the industry, making
      Gaztron's nitrogen gas a clear choice for a myriad of critical
      applications.
    </p>
    <p class="description">
      With Gaztron's CU - DX Model Nitrogen Gas Generator, customers can rely on
      a seamless and continuous supply of ultra-pure nitrogen gas, critical for
      various industries, including pharmaceuticals, electronics, food
      packaging, and chemical processes. Our generator's cutting-edge technology
      ensures efficiency, reliability, and cost-effectiveness, making it the
      ultimate choice for businesses seeking to optimize their nitrogen gas
      requirements.
    </p>
    <p class="description">
      When it comes to innovation, quality, and reliability, Gaztron emerges as
      the undisputed leader in the field of Ultra-pur Nitrogen gas generators.
      Our team of experts consistently strives to stay at the vanguard of
      technological advancements, empowering our customers with state-of-the-art
      solutions to meet their evolving needs.
    </p>
    <p class="description">
      Gaztron's CU - DX Model Nitrogen Gas Generator stands tall as a symbol of
      excellence in the realm of nitrogen gas generation. With its unmatched
      purity of 99.9999% (1 PPM) and zero hydrogen content, our generator
      ensures a level of nitrogen purity that sets new industry standards. When
      choosing Gaztron, you are not only selecting a product; you are investing
      in an unwavering commitment to quality and performance that will elevate
      your operations to new heights. Trust Gaztron for all your ultra-pure
      nitrogen gas needs and experience the difference that true excellence can
      make for your business.
    </p>
  </div>
  <div class="slider">
    <app-application-template
      [application]="applications"
      [title]="'Gaztron’s PSA Nitrogen Generator Applications'"
      [description]="
        'Across the globe, Gaztron\'s Nitrogen Gas Generator Plants are highly coveted in multiple industries. Our steadfast dedication to continuous innovation and advancement has established us as industry leaders in the following specialized fields:'
      "
    >
    </app-application-template>
  </div>
  <div class="slider">
    <div class="heading">
      Technical Specifications of Gaztron’s Nitrogen Gas Generator Plant (CU-DX
      Model)
    </div>
    <div class="divider"></div>

    <ul>
      <li>
        Extensive Flow Range: Achieve exceptional gas production rates with our
        nitrogen gas generator plant, capable of handling flow ranges from 5
        Nm3/hr to a staggering 1000 Nm3/hr. Whether you operate a small-scale
        facility or an industrial powerhouse, we have the perfect solution to
        cater to your demands.
      </li>
      <li>
        Unrivaled Purity Levels: Experience purity like never before with our
        CU-DX Model. Our nitrogen gas generator ensures purity levels ranging
        from an impressive 99.9995% (5 PPM) to a staggering 99.9998% (2 PPM).
        Rest assured, your applications will benefit from the utmost purity,
        boosting efficiency and minimizing operational risks.
      </li>
      <li>
        Optimal Dew Point: With Gaztron's nitrogen gas generator, you gain
        precise control over the dew point of nitrogen gas. Witness the dew
        point range from -40 degrees centigrade to an impressive -80 degrees
        centigrade, ensuring your processes remain stable even in the harshest
        environments.
      </li>
      <li>
        Versatile Pressure Ranges: Our CU-DX Model caters to diverse industrial
        needs with nitrogen gas pressure ranging from 5 kg/cm2 to 7 kg/cm2.
        Whether you require high-pressure applications or lower operating
        pressures, Gaztron has you covered.
      </li>
    </ul>
    <p class="inner-description">
      When it comes to nitrogen gas generation, Gaztron's CU-DX Model stands
      head and shoulders above the competition. Our cutting-edge technology,
      combined with precision engineering, guarantees unparalleled performance,
      reliability, and cost-efficiency.
    </p>
  </div>
  <div class="slider">
    <app-specification
      title="Available Models of Gaztron’s Nitrogen Gas Generator Plant (CU-DX Model)"
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
      [borderRight]="'1px solid rgb(219, 219, 219)'"
    ></app-specification>
  </div>

  <div class="slider">
    <div class="heading">
      The primary equipment utilized in Gaztron’s Nitrogen Gas Generator Plant
      (CU-DX Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>Air Compressor</li>
      <li>After Cooler</li>
      <li>Moisture Separator</li>
      <li>Air Dryer</li>
      <li>Air Receiver</li>
      <li>Three Stage Air Filtration System</li>
      <li>Twin Tower PSA System with Automatic Valve</li>
      <li>Gas Mixture System</li>
      <li>Twin Tower Copper Filled – Copper Unit</li>
      <li>Gas Dryer</li>
      <li>Gas Storage tank</li>
      <li>Ammonia Cracker or Gas Cylinder Unit</li>
      <li>
        All accessories with Analyser, Auto Drain Valve, Safety Valve, PRV etc.
      </li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      The operational principle of Gaztron’s Nitrogen Gas Generator Plant (CU-DX
      Model)
    </div>
    <div class="divider"></div>
    <p class="inner-description">
      At Gaztron, we take immense pride in presenting our cutting-edge Nitrogen
      Gas Generator Plant - the CU-DX Model. This state-of-the-art system
      operates on a highly advanced and efficient principle, setting new
      standards in the industry.
    </p>
    <p class="inner-description">
      The primary goal of our CU-DX Model is to achieve an impressive purity
      level of 99.9% for Nitrogen gas - a feat accomplished flawlessly by our
      Standard Model of Nitrogen Gas Generator. This exceptional level of purity
      ensures that your applications and processes receive the highest-quality
      Nitrogen, free from impurities that might hinder their performance.
    </p>
    <p class="inner-description">
      Here's where the magic happens: The Nitrogen, already boasting an
      exceptional 99.9% purity, undergoes a meticulous purification process. It
      is meticulously passed through a specially designed tower filled with a
      top-grade Copper catalyst, while being subjected to a precisely controlled
      temperature of 180 degrees Celsius. This ingenious process works wonders,
      reducing the oxygen content from a mere 0.1% to virtually negligible PPM
      levels.
    </p>
    <p class="inner-description">
      The result? A nitrogen stream of unparalleled purity, meeting the most
      stringent industry requirements and exceeding your expectations. Our CU-DX
      Model stands as a testament to Gaztron's unwavering commitment to
      delivering the most efficient and reliable Nitrogen Gas Generator Plant on
      the market.
    </p>
    <div class="formula">
      <img src="assets/images/formula1.png" alt="" />
      <div class="equation">2Cu + O2 → 2CuO</div>
    </div>

    <p class="inner-description">
      At Gaztron, we go above and beyond to ensure that our Nitrogen Gas
      Generator Plant operates at peak efficiency. Our cutting-edge Changeover
      and Regeneration process are designed to optimize productivity and deliver
      an unmatched level of purity in the final product.
    </p>
    <p class="inner-description">
      The Changeover process is seamlessly integrated into the system, occurring
      after every 4-hour cycle. During this phase, the running tower transitions
      into the regeneration phase while the regenerated tower takes over the
      production of pure Nitrogen. This seamless transition ensures
      uninterrupted Nitrogen supply, maximizing productivity and minimizing
      downtime.
    </p>
    <p class="inner-description">
      The magic of our Regeneration process lies in its ability to produce pure
      Copper, a crucial component for the Nitrogen generation process. To
      achieve this, pure Nitrogen is passed through a Copper Oxide tower at a
      precisely controlled temperature of 175 degrees Celsius, along with
      hydrogen. The resulting chemical reaction yields Pure Copper, as shown in
      the following equation:
    </p>
    <div class="formula">
      <img src="assets/images/formula2.png" alt="" />
      <div class="equation">Cu + H2 → Cu+H2O</div>
    </div>
    <p class="inner-description">
      As a result of this ingenious reaction, the Nitrogen attains an
      extraordinary purity level of 99.9998%, representing a mere 2PPm of
      impurities. We take immense pride in consistently delivering Nitrogen of
      such exceptional quality, surpassing industry standards and meeting the
      most demanding requirements.
    </p>
    <p class="inner-description">
      However, we understand that in certain reactions, water moisture can be
      generated as a byproduct, presenting a potential challenge. But fear not!
      Our solution involves passing the Gas through our state-of-the-art Gas
      Dryer, expertly designed to remove any traces of moisture and achieve the
      desired Dew Point.
    </p>
    <p class="inner-description">
      At Gaztron, we leave no stone unturned in our quest for perfection. Our
      Changeover and Regeneration process stand as a testament to our unwavering
      commitment to providing top-of-the-line gas generation solutions that
      redefine industry standards.
    </p>
    <p class="inner-description">
      Choose Gaztron today, and experience the confidence of reliable,
      high-purity Nitrogen production for all your critical applications.
      Partner with us to elevate your gas generation experience and stay ahead
      of the competition.
    </p>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s Nitrogen Gas Generator Plant (CU-DX Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>
        PSA units offer the advantage of on-site availability, ensuring readily
        accessible Nitrogen supply.
      </li>
      <li>
        Compared to other cryogenic processes, PSA units prove to be a more
        economical solution.
      </li>
      <li>
        During shutdowns, PSA units result in minimal financial losses compared
        to traditional cryogenic methods.
      </li>
      <li>
        The ease of availability and accessibility of PSA units enables quick
        delivery and purchase options.
      </li>
      <li>
        Adopting PSA units ensures a reliable and efficient source of Nitrogen
        for optimized processes and cost-effectiveness.
      </li>
    </ul>
  </div>
  <div class="slider">
    <app-scope></app-scope>
  </div>
  <div class="slider">
    <div class="heading">Delivery Period of Gaztron’s Nitrogen Gas Generator Plant (CU-DX Model)</div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s Nitrogen Gas Generator Plant
      (CU-DX Model)
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/cudx.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our PSA Nitrogen Generator apart from others"
      [content]="generators"
    ></app-generators>
  </div>
  <div class="slider">
    <app-nitrogen-chart></app-nitrogen-chart>
  </div>
  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-3"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
