<div class="main-container">
  <div class="slider">
    <div class="heading">Gaztron’s Oxygen Generator (GOX-I Model)</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Welcome to Gaztron Engineering Private Limited, where innovation meets
      excellence in industrial oxygen gas generation. We take pride in being one
      of the leading manufacturers and exporters of PSA-based Industrial Oxygen
      Gas Generation Plants. Our commitment to quality and reliability has made
      us stand out in the market, and now we present to you our state-of-the-art
      GOX-I Model, designed specifically for industrial purposes.
    </p>
    <p class="description" style="font-weight: 700">
      Unparalleled Purity and Pressure:
    </p>
    <p class="description">
      The GOX-I Model is engineered to perfection, delivering industrial-grade
      oxygen gas with an impressive purity level of 93%. This ensures that your
      industrial processes run smoothly, efficiently, and with utmost precision.
      With a robust build and cutting-edge technology, our oxygen generator can
      handle pressure up to 4 Kg/cm2. For high-pressure requirements, we offer a
      booster option, allowing you to achieve pressures up to an impressive 140
      Kg/cm2.
    </p>
    <p class="description" style="font-weight: 700">
      Operation-Friendly and Maintenance-Free:
    </p>
    <p class="description">
      At Gaztron, we understand the importance of seamless operations in an
      industrial setup. That's why our GOX-I Model is designed to be
      operation-friendly, simplifying the process for your workforce. Say
      goodbye to unnecessary complexities and time-consuming maintenance
      routines. Our oxygen generator is virtually maintenance-free, letting you
      focus on your core industrial activities without any interruptions.
    </p>
    <p class="description" style="font-weight: 700">
      Optimized Cost Efficiency:
    </p>
    <p class="description">
      We know that cost-effectiveness is paramount in the industrial sector.
      Gaztron's GOX-I Model delivers on this front as well. With low capital
      costs and minimal operational expenses, our oxygen generator provides a
      cost-efficient solution for your industrial oxygen gas requirements.
      Maximize productivity while minimizing costs - that's the Gaztron way!
    </p>
    <p class="description" style="font-weight: 700">
      Precision Engineering and Manufacturing:
    </p>
    <p class="description">
      Our team of experts excels in the design and manufacturing of PSA Gas
      Plants, and the GOX-I Model is a testament to our engineering prowess.
      With Gaztron, you can be confident in the performance, reliability, and
      durability of our industrial oxygen generators. Each unit is built with
      precision and attention to detail, ensuring that it meets the highest
      industry standards.
    </p>
    <p class="description" style="font-weight: 700">
      Elevate Your Industrial Oxygen Supply:
    </p>
    <p class="description">
      If you are looking for a reliable and high-performing industrial oxygen
      gas generator, look no further. Gaztron Engineering Private Limited's
      GOX-I Model is here to revolutionize your oxygen supply needs with
      unmatched efficiency and quality. Trust the leading name in PSA-based
      industrial oxygen gas generation plants and experience the confidence of
      uninterrupted oxygen supply for your industrial endeavors.
    </p>
    <p class="description">
      Contact us today! to explore the limitless possibilities of the GOX-I
      Model and take a bold step towards a more productive and efficient
      industrial future. Together, we'll pave the way for excellence in
      industrial oxygen gas generation.
    </p>
  </div>
  <div class="slider">
    <app-application-template
      [application]="applications"
      [title]="'Gaztron’s PSA Oxygen Generator Applications'"
      [description]="
        'Gaztron\'s GOX-I Model, the pinnacle of oxygen generator plants, is highly sought after in various sectors worldwide. Our unyielding dedication to continuous innovation and progress has established us as pioneers in the following areas of expertise:'
      "
    >
    </app-application-template>
  </div>
  <div class="slider">
    <div class="heading">
      Technical Specifications of Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>

    <ul>
      <li>
        Unmatched Flow Range: Enjoy a remarkable flow range from 2 Nm3/hr all
        the way up to 50 Nm3/hr, ensuring an abundant supply of oxygen whenever
        you need it.
      </li>
      <li>
        Exceptional Purity Level: Our oxygen generator boasts a remarkable
        purity level that goes up to an impressive 93%, guaranteeing the highest
        quality oxygen for your applications.
      </li>
      <li>
        Superior Dew Point Control: With a nitrogen gas dew point as low as
        -40°C, rest assured that our oxygen generator delivers the driest oxygen
        to meet your most demanding requirements.
      </li>
      <li>
        Robust Oxygen Gas Pressure: Ranging from 5 kg/cm2, our oxygen generator
        ensures a steady and reliable supply of oxygen at the perfect pressure.
      </li>
    </ul>
    <p class="inner-description">
      Gaztron's Oxygen Generator (GOX-I Model) is the ultimate choice for those
      who demand nothing but the best. Trust in our cutting-edge technology to
      provide you with the oxygen you need, precisely when you need it.
      Experience the confidence of unrivaled performance with Gaztron's Oxygen
      Generator (GOX-I Model).
    </p>
  </div>
  <div class="slider">
    <app-specification
      title="Available Models of Gaztron’s Oxygen Generator (GOX-I Model)"
      [tableContent]="tableModelContent"
      [headings]="tableModelHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
      [borderRight]="'1px solid rgb(219, 219, 219)'"
    ></app-specification>
  </div>
  <div class="slider">
    <div class="heading">
      The primary equipment utilized in Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>Air Compressor</li>
      <li>After Cooler</li>
      <li>Moisture Separator</li>
      <li>Air Dryer</li>
      <li>Air Receiver</li>
      <li>Three Stage Air Filtration System</li>
      <li>Twin Tower PSA System with Automatic Valve</li>
      <li>Gas Mixture System</li>
      <li>Twin Tower Copper Filled – Copper Unit</li>
      <li>Gas Dryer</li>
      <li>Gas Storage tank</li>
      <li>Ammonia Cracker or Gas Cylinder Unit</li>
      <li>
        All accessories with Analyser, Auto Drain Valve, Safety Valve, PRV etc.
      </li>
    </ul>
  </div>

  <div class="slider">
    <div class="heading">
      The operational principle of Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>
    <p class="inner-description">
      Unveiling the Unbeatable Operational Principle of Gaztron's Oxygen
      Generator (GOX-I Model)
    </p>
    <p class="inner-description">
      Prepare to be amazed by the ingenious operational principle that drives
      Gaztron's Oxygen Generator (GOX-I Model) to unparalleled success:
    </p>
    <p class="inner-description">
      Consequently, the gas exiting the vessel becomes enriched in oxygen
      content due to the preferential retention of nitrogen by the zeolite bed.
      The concentration of oxygen in the outgoing gas stream is significantly
      increased compared to the original gas mixture.
    </p>
    <p class="inner-description">
      When a gas mixture, such as air, is subjected to pressure and passed
      through a vessel containing a highly efficient adsorbent bed of Zeolite
      molecular sieves, an extraordinary transformation occurs. These molecular
      sieves have a remarkable affinity for nitrogen over oxygen. As a result, a
      stunning phenomenon unfolds - a portion or even the entirety of the
      nitrogen within the gas mixture is entrapped and retained by the adsorbent
      bed. Consequently, the gas emerging from the vessel emerges significantly
      enriched in life-sustaining oxygen.
    </p>

    <p class="inner-description">
      But that's not all - Gaztron's Oxygen Generator (GOX-I Model) doesn't stop
      there! When the adsorbent bed eventually reaches its capacity to adsorb
      nitrogen, it undergoes a process of miraculous regeneration. Through a
      simple reduction of pressure, the previously entrapped nitrogen is
      released, rejuvenating the bed to its original state, ready to embark on
      another awe-inspiring cycle of producing oxygen-enriched air.
    </p>
    <p class="inner-description">
      With Gaztron's Oxygen Generator (GOX-I Model) at the heart of your
      operations, you can rest assured that an uninterrupted and abundant supply
      of oxygen-enriched air is at your fingertips. Embrace the confidence of
      cutting-edge technology and place your trust in Gaztron for an oxygen
      generation experience like no other."
    </p>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>
        On-site, PSA systems showcase their remarkable advantage by providing
        easy access to Oxygen whenever needed.
      </li>
      <li>
        Compared to alternative cryogenic procedures, PSA systems offer a
        significantly more cost-effective method.
      </li>
      <li>
        By using PSA systems, businesses can rest assured of minimized financial
        losses during shutdowns, unlike with cryogenic methods.
      </li>
      <li>
        The unit's accessibility ensures swift delivery and purchase, making it
        a hassle-free experience for customers.
      </li>
    </ul>
  </div>

  <div class="slider">
    <app-specification
      title="Capacity of Gaztron’s Oxygen Generator (GOX-I Model) In Terms of Cylinder Filled & Beds Catered"
      description="Gaztron's Gox model Oxygen Generator is a trusted and versatile piece of equipment that has demonstrated exceptional performance in producing oxygen gas. It has been a vital asset in India's fight against COVID-19, providing essential services to hospitals across the nation."
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
    ></app-specification>
  </div>

  <div class="slider">
    <app-scope></app-scope>
  </div>
  <div class="slider">
    <div class="heading">
      Delivery Period of Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/cudx.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our Oxygen Generator apart from others"
      [content]="generators"
    ></app-generators>
  </div>

  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-1"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
