<div class="main-container">
  <div class="slider">
    <div class="heading">Gaztron’s Oxygen Generator (GOX-C Model)</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Welcome to Gaztron, India's foremost and trailblazing manufacturer of
      cutting-edge Oxygen Generators tailored specifically for Cylinder Filling
      Station purposes. With an unwavering commitment to excellence and an
      unparalleled track record, we take immense pride in revolutionizing the
      oxygen generation landscape across the nation.
    </p>
    <p class="description" style="font-weight: 700">
      Unrivaled Expertise and Innovation
    </p>
    <p class="description">
      At Gaztron, our journey towards becoming a leader in the oxygen generation
      industry has been propelled by a relentless pursuit of innovation and
      technical prowess. Our team of brilliant engineers and industry veterans
      work synergistically to design, develop, and deliver state-of-the-art
      Oxygen Generators that exceed the expectations of our esteemed clients.
    </p>
    <p class="description" style="font-weight: 700">
      Unmatched Quality and Performance
    </p>
    <p class="description">
      We firmly believe that quality is the cornerstone of success. Every Oxygen
      Generator we manufacture undergoes rigorous testing and adheres to
      international standards to ensure flawless performance and reliability. We
      source the finest materials and employ cutting-edge manufacturing
      processes to craft products that meet the most stringent demands of our
      customers.
    </p>
    <p class="description" style="font-weight: 700">
      Customized Solutions to Meet Your Needs
    </p>
    <p class="description">
      At Gaztron, we recognize that each industry has unique requirements. With
      a customer-centric approach, we offer tailored Oxygen Generator solutions
      for Cylinder Filling Stations, perfectly aligning with the diverse needs
      of our clients. Our team of experts collaborates closely with you to
      understand your specific requirements and craft bespoke solutions that
      enhance productivity and efficiency.
    </p>
    <p class="description" style="font-weight: 700">
      Advancing Sustainability and Environmental Responsibility
    </p>
    <p class="description">
      As a socially responsible organization, we are committed to sustainability
      and environmental preservation. Gaztron's Oxygen Generators are designed
      with energy efficiency in mind, minimizing wastage and reducing the carbon
      footprint. By investing in our solutions, you not only benefit from
      enhanced performance but also contribute to a greener tomorrow.
    </p>
    <p class="description" style="font-weight: 700">
      Unparalleled Customer Support
    </p>
    <p class="description">
      At Gaztron, our association with our clients goes beyond the point of
      sale. We pride ourselves on providing unparalleled customer support, which
      includes timely maintenance, troubleshooting assistance, and responsive
      communication. Our proactive approach ensures that your Oxygen Generator
      functions optimally, allowing you to focus on what matters most—your
      business.
    </p>
    <p class="description" style="font-weight: 700">
      Trusted by Leading Industries Nationwide
    </p>
    <p class="description">
      Over the years, Gaztron has earned the trust and loyalty of numerous
      industries, ranging from healthcare to metal fabrication, chemical, and
      beyond. Our unrivaled commitment to quality and service has garnered us a
      distinguished reputation as the go-to partner for oxygen generation
      solutions in India.
    </p>
    <p class="description" style="font-weight: 700">
      Join Hands with Gaztron for a Future of Excellence
    </p>
    <p class="description">
      Gaztron stands tall as India's leading manufacturer of Oxygen Generators
      for Cylinder Filling Station purposes. With an unwavering commitment to
      quality, innovation, and customer satisfaction, we empower industries to
      thrive by providing them with a steady and reliable source of oxygen
    </p>

    <p class="description">
      Partner with Gaztron today, and together, let's forge a future of
      excellence and prosperity. Get in touch with our dedicated team to explore
      how our Oxygen Generator solutions can elevate your operations and drive
      your success to new heights.
    </p>
  </div>

  <div class="slider">
    <app-specification
      title="Available Models of Gaztron’s Oxygen Generator (GOX-C Model)"
      [tableContent]="tableModelContent"
      [headings]="tableModelHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
      [borderRight]="'1px solid rgb(219, 219, 219)'"
    ></app-specification>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>
        PSA systems unequivocally demonstrate their advantageous nature on-site,
        ensuring the convenient and reliable availability of Oxygen.
      </li>
      <li>
        They offer a substantially more cost-effective method when compared to
        alternative cryogenic procedures.
      </li>
      <li>
        PSA systems guarantee significantly reduced financial losses during
        shutdowns in comparison to cryogenic methods.
      </li>
      <li>
        The unit is readily accessible, allowing for swift and seamless delivery
        and purchase.
      </li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      Delivery Period of Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <app-specification
      title="Capacity of Gaztron’s Oxygen Generator (GOX-C Model) In Terms of Cylinder Filled & Beds Catered"
      description="Gaztron's Gox-C model Oxygen Generator stands as a reliable and adaptable apparatus, showcasing remarkable performance in the production of oxygen gas. It has proven to be an indispensable cornerstone in India's relentless battle against COVID-19, catering to crucial hospital needs nationwide with unwavering efficiency."
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
    ></app-specification>
  </div>

  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s Oxygen Generator (GOX-C Model)
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/cudx.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our Oxygen Generator apart from others"
      [content]="generators"
    ></app-generators>
  </div>

  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-2"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
