<div class="main-container">
  <div class="left-column">
    <div class="image-container">
      <img
        class="bottom-dots"
        src="assets/images/blue-dots.png"
        alt="Overlay Image"
      />
      <img
        class="main-image"
        src="assets/images/cryogenic.png"
        alt="Main Image"
      />
      <img
        class="top-dots"
        src="assets/images/blue-dots.png"
        alt="Overlay Image"
      />
    </div>
  </div>
  <div class="right-column">
    <div class="title">
      <div class="number">04.</div>
      Cryogenic ASU Gas Plants
    </div>
    <div class="description">
      We are India’s highly esteemed Manufacturer of top-quality Cryogenic-Based
      Gas Plants, with a specialization in Nitrogen and Oxygen production and
      supply. Our extensive range of air separation plants and Cryogenic-Based
      Oxygen and Nitrogen gas plants features products that boast a capacity
      range of 20 Nm3/hr to 3000 Nm3/hr. We take pride in producing Oxygen gas
      with a purity range of 99.6% to 99.9997%, and Nitrogen purity ranging from
      2 PPM to 3 PPM.
      <div class="row">
        <div class="icon">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div class="content">
          Gaztron provides an extensive range of Cryogenic-Based Gas Plants,
          including Nitrogen and Oxygen plants. Our plants have high flow
          capacities, with our Nitrogen plant capable of producing up to 6000
          Nm3/hr and our Oxygen plant up to 3000 Nm3/hr. Both plants provide
          exceptional purity levels, with our Oxygen plant achieving a purity of
          99.9998%.
        </div>
      </div>
      <div class="row">
        <div class="icon">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div class="content">
          Gaztron's Nitrogen & Oxygen Cyrogenic Plants have a wide range of
          applications in various industries. They are commonly used in fuel
          tank inerting autoclaves, furnace blanketing for adhesives,
          pesticides, agricultural, and pharmaceutical products. They are also
          used in metal processes such as heat treatment, annealing, and
          sintering. Additionally, they are utilized in fire prevention in
          cement, coal mines, and mine industry, as well as in oil cargo ships
          and oil tankers to ensure the safety of operations.
        </div>
      </div>
      <div class="row-2">
        <button class="quote">Request a quote</button>
        <button class="learn-more" routerLink="cryogenic-asu">
          Learn More
        </button>
      </div>
    </div>
  </div>
</div>
