<div class="main-container">
  <div class="slider">
    <div class="heading">Gaztron’s Ammonia Cracker Unit</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Gaztron Engineering Private Limited, We are India's leading designer and
      manufacturer of Ammonia cracking units. Our cutting-edge technology allows
      us to efficiently convert Ammonia into Nitrogen and Hydrogen through our
      specialized Ammonia cracking unit. Our units have a capacity ranging from
      5 Nm3/hr to 50 Nm3/hr, with pressure capabilities ranging from 0.5 Kg/cm2
      to 5.5 Kg/cm2.
    </p>
    <p class="description">
      We have designed our units to achieve a remarkable Dew point of up to -80
      °C. The composition of the cracked ammonia produced by our units consists
      of 75% Hydrogen and 25% Nitrogen. At Gaztron, we are committed to the
      complete process, from designing and manufacturing to exporting ammonia
      crackers and ammonia purifiers.
    </p>
    <p class="description">
      Our ammonia cracking furnaces are equipped with ceramic insulation to
      minimize heat loss. We have incorporated provisions for easy replacement
      of heaters and other components to meet specific requirements. The retort
      used in our ammonia cracking furnaces is made of superior grade HU alloy
      and non-Inconel alloy. It is a single-piece centrifugal casted retort,
      eliminating longitudinal welding joints. To ensure the highest quality,
      each retort undergoes 100% X-ray testing.
    </p>
    <p class="description">
      Our ammonia cracking catalyst consists of a high Nickel content catalyst,
      ensuring thorough Ammonia cracking. These advanced features contribute to
      the efficiency, low power consumption, and user-friendly operation of our
      ammonia crackers.
    </p>
    <p class="description">
      We invite you to join us and experience the epitome of Ammonia Cracking
      Purifier Units. Engineered to exceed industry standards, our units are
      tailored to enhance your operations with unmatched efficiency,
      productivity, and exceptional gas purity. Partner with Gaztron Engineering
      Private Limited and unlock new levels of success for your business.
    </p>
  </div>
  <div class="slider">
    <app-application-template
      [application]="applications"
      [title]="'Major applications of Our Ammonia Cracker Unit'"
      [description]="
        'Our unwavering dedication to research and development has established us as frontrunners in ammonia cracker technologies, which find widespread applications in various industries worldwide. Our continuous focus on innovation has positioned us as industry leaders in meeting the demand for hydrogen or hydrogen-nitrogen mixtures in diverse industrial sectors such as:-'
      "
    >
    </app-application-template>
  </div>

  <div class="slider">
    <app-specification
      title="Available Models of Gaztron’s Ammonia Cracker Unit Models"
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
      [borderRight]="'1px solid rgb(219, 219, 219)'"
    ></app-specification>
  </div>
  <div class="slider">
    <div class="heading">
      Technical Specifications of Gaztron’s Ammonia Cracker Unit
    </div>
    <div class="divider"></div>
    <p class="inner-description">
      Gaztron's Ammonia Cracker Unit, a highly efficient system specifically
      designed for the production of cracked ammonia. With its versatile range
      of flow capacities, ranging from 2 Nm3/hr to 20 Nm3/hr, this unit caters
      to a wide array of ammonia processing requirements. Its flexibility allows
      customers to select the optimal flow rate that aligns with their specific
      production needs, maximizing both efficiency and productivity.
    </p>
    <p class="inner-description">
      The unit boasts an impressive composition of cracked ammonia gas,
      consisting of 75% hydrogen and 25% nitrogen. This precise and consistent
      output caters to various applications, ensuring reliable performance.
      Moreover, the Ammonia Cracker Purifier Unit achieves an exceptional dew
      point of up to -80 degrees Celsius, effectively eliminating moisture and
      guaranteeing the purity and quality of the cracked ammonia gas.
      Additionally, it supports a broad pressure range, spanning from 1 kg/cm2
      to 5 kg/cm2, enabling seamless integration with diverse systems and
      processes.
    </p>
    <p class="inner-description">
      Gaztron's Ammonia Cracker Unit combines the virtues of versatility,
      precision, and efficiency, making it the ideal choice for customers
      seeking a dependable solution for ammonia cracking and purification.
    </p>
    <p class="inner-description">
      Gaztron's Ammonia Cracker Unit combines versatility, precision, and
      efficiency, making it an ideal choice for customers seeking a reliable
      solution for ammonia cracking and purification.
    </p>
  </div>
  <div class="slider">
    <div class="heading">
      The primary equipment utilized in Gaztron’s Ammonia Cracker Unit
    </div>
    <div class="divider"></div>
    <app-primary-equipment></app-primary-equipment>
  </div>
  <div class="slider">
    <div class="heading">
      The operational principle of the Gaztron’s Ammonia Cracker Unit
    </div>
    <div class="divider"></div>
    <p class="inner-description">
      The Cracker Unit is a vertically-oriented rectangular furnace with a
      ceramic blanket (MURUGAPPA) insulation lining on the walls and top. The
      furnace floor is lined with refractory bricks (MAITHAN). A suspended
      retort made of 20%-25% Chrome/Nickel seamless tubes is positioned inside
      the furnace. This material is suitable for temperatures up to 1100°C, with
      a safe operating temperature of approximately 850°C (maximum).
    </p>
    <p class="inner-description">
      The retort is centrifugally casted and has a thickness of approximately 10
      mm. The furnace's side wall is equipped with coil-type Ni-chrome heating
      elements supported by refractory materials. The temperature of the furnace
      box is carefully controlled at 850°C, resulting in a catalyst bed
      temperature of around 800°C inside the tubes. The temperature control
      system utilizes twin-point temperature controllers. The lower set point is
      configured at 800°C to trigger an alarm in case the furnace temperature
      drops during normal operation. The upper set point automatically switches
      the heaters on and off to maintain the furnace temperature at 850°C.
    </p>
    <p class="inner-description">
      The heating elements are evenly distributed throughout the height of the
      furnace, ensuring uniform heating of all catalyst tubes from all sides.
      The furnace is lined with ceramic fibers, and the maximum temperature on
      the outside wall of the furnace is limited to 60°C.
    </p>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s Ammonia Cracker Unit
    </div>
    <div class="divider"></div>
    <ul>
      <li>On-site Ammonia cracking Unit to get Cracked Ammonia</li>
      <li>It is economical Process to get Cracked Ammonia</li>
      <li>It is easy to operate and less maintenance</li>
      <li>Less space required</li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">Delivery Period of Gaztron’s Ammonia Cracker Unit</div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      Reference Technical Drawing of Gaztron’s Ammonia Cracker Unit
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/ammonia-purifier-diagram.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our Ammonia Cracker apart from others"
      [content]="generators"
    ></app-generators>
  </div>

  <div class="slider">
    <app-quote [options]="options" selected="option-0"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
