<div class="main-container">
  <div class="slider">
    <div class="heading">Cryogenic Air Separation Gas Plants</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Gaztron’s Cryogenic air separation plants are widely employed for the
      production of industrial gases such as nitrogen (N2), oxygen (O2), and
      argon (Ar). These gases find applications in various industries, including
      metallurgy, chemical manufacturing, electronics, healthcare, food
      processing, and energy production.
    </p>
    <br />
    <p class="description">
      Gaztron’s Cryogenic gas plants play a vital role in the industrial gas
      industry, serving as essential infrastructure for efficient cryogenic gas
      processing and storage. These industrial facilities are specifically
      designed to enable the processing and storage of cryogenic gases,
      encompassing various critical functions. Key requirements for such
      installations include the implementation of an effective insulation system
      to ensure the preservation of low temperatures.
    </p>
    <br />
    <p class="description">
      Gaztron’s cryogenic gas plant, carries out various operations involving
      the liquefaction, purification, and storage of gases. To ensure smooth
      execution of these operations, the plant must rely on dependable equipment
      that maintains continuous functionality. At Gaztron, these equipment are
      tailored to meet the specific requirements of every company's cryogenic
      plant, thereby maximising performance and efficiency.
    </p>
  </div>
  <div class="slider">
    <app-application-template
      [application]="applications"
      [title]="'Gaztron’s Cryogenic ASU Gas Plant Applications'"
      [description]="
        'Our relentless commitment to research and development has positioned Gaztron\'s Cryogenic ASU Gas Plant at the forefront of ammonia cracker technologies, catering to a multitude of industries worldwide. By consistently fostering innovation, we have become the leading force in delivering hydrogen or hydrogen-nitrogen mixtures to meet the diverse needs of industrial sectors globally.'
      "
    >
    </app-application-template>
  </div>

  <div class="slider">
    <div class="heading">Types of cryogenic plants</div>
    <div class="divider"></div>
    <p class="inner-description" style="font-weight: 700; font-size: 18px">
      Cryogenic oxygen and nitrogen plants
    </p>
    <p class="inner-description">
      Cryogenic plants, designed to obtain oxygen and nitrogen, possess distinct
      characteristics that set them apart from other types of gas plant
      constructions. Here are the key points to consider:
    </p>
    <ul>
      <li>
        Composition of Atmospheric Air: The primary components of atmospheric
        air are oxygen and nitrogen, with traces of other gases such as carbon
        dioxide, water vapor, argon, or helium.
      </li>
      <li>
        Compressed Air Generation: Multi-stage compressors are used to draw in
        atmospheric air and compress it to obtain compressed air. Inter-coolers,
        moisture separators, and industrial refrigerators are employed to
        eliminate carbon dioxide, moisture, and hydrocarbons. This process leads
        to the formation of a Molecular Sieve Battery.
      </li>
      <li>
        Separation of Nitrogen and Oxygen: Heat exchangers facilitate the
        separate paths of nitrogen and oxygen. Oxygen is compressed and directly
        filled into cylinders, while nitrogen requires a high-pressure
        compressor to complete the process.
      </li>
      <li>
        Cooling and Air Routes: The purified air is then cooled using nitrogen
        and oxygen. It can follow two routes: a portion passes through a second
        heat exchanger, while another part goes through an Expansion Engine to
        generate additional cooling.
      </li>
      <li>
        Air Release: An expansion valve is responsible for releasing the air
        that has undergone liquefaction.
      </li>
      <li>
        Separation of Oxygen and Nitrogen: The process of separating oxygen and
        nitrogen involves distillation using a fractional column. This column is
        comprised of two sections, namely the lower and upper parts, with a
        condenser positioned in between. Pure nitrogen ascends to the top of the
        upper column, while oxygen remains at the bottom.
      </li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      Gaztron’s Step by Step Design Process for Cryogenic ASU Gas Plants
    </div>
    <div class="divider"></div>
    <ol>
      <li>
        Preliminary Analysis: Understanding Client Needs To kick-start the
        design process, we begin with a preliminary analysis. Our team of
        engineers conducts a comprehensive study to fully understand the
        requirements and needs of the client. This stage is essential as it
        forms the foundation for the subsequent design decisions.
      </li>
      <li>
        Design Phase: Calculations and Drafting Building upon the preliminary
        analysis, our engineers proceed with the design phase. Through our
        drafting department, they undertake all the necessary finite element
        calculations to ensure the project's safety and compliance with the
        highest quality standards. This stage involves careful consideration of
        various factors, such as structural integrity and functional
        requirements.
      </li>
      <li>
        2D and 3D Visualization: Bringing the Design to Life Once the
        calculations are completed, our drafting department transforms the
        design into a visual representation. Using advanced software, they
        create detailed 2D and 3D models of the entire plant. This enables
        stakeholders to virtually visualize the plant's appearance, allowing for
        accurate assessment of dimensions and aesthetics.
      </li>
      <li>
        Study of Necessary Elements and Compliance with Regulations To ensure
        the plant's success, our engineering department conducts a comprehensive
        study. This study involves determining all the necessary elements for
        the plant, including equipment and accessories. Additionally, it
        addresses the stringent regulations imposed by the industry. Our team
        meticulously analyzes and incorporates solutions to meet these
        regulations, ensuring compliance throughout the design process.
      </li>
      <li>
        Continuous Communication and Guidance Throughout the entire design
        process, close collaboration between the engineering department and the
        drafting team is crucial. Constant communication ensures that guidance
        is provided, maintaining the design's quality and safety. This
        collaboration allows for the seamless integration of ideas, expertise,
        and feedback, resulting in an optimized and well-executed design.
      </li>
    </ol>
    <p class="inner-description">
      At Gaztron, we have two specialized production teams dedicated to our
      cryogenic plant projects. Our installation department, led by project
      managers and engineers, handles the complete coordination and organization
      of cryo plant installations, from start to finish. Additionally, we offer
      comprehensive maintenance services to ensure the ongoing optimal
      performance of our plants. With our expertise and commitment to
      professionalism, we deliver turnkey solutions and guarantee the flawless
      operation of our cryogenic plants.
    </p>
  </div>
  <div class="slider">
    <app-specification
      title="Technical Specifications of Our Air Separation Unit (ASU)"
      [tableContent]="tableAsuContent"
      [headings]="tableAsuHeadings"
      [backgroundColor]="'#F3F2F1'"
    ></app-specification>
  </div>
  <div class="slider">
    <app-specification
      title="Technical Specifications of Our Air Separation Plant"
      [tableContent]="tableAspContent"
      [headings]="tableAspHeadings"
      [backgroundColor]="'#F3F2F1'"
    ></app-specification>
  </div>
  <div class="slider">
    <app-specification
      title="Technical Specifications of Our Oxygen Gas Plants"
      [tableContent]="tableOxygenContent"
      [headings]="tableOxygenHeadings"
      [backgroundColor]="'#F3F2F1'"
    ></app-specification>
  </div>
  <div class="slider">
    <app-specification
      title="Technical Specifications of Our Liquid Gas Plants"
      [tableContent]="tableLiquidContent"
      [headings]="tableLiquidHeadings"
      [backgroundColor]="'#F3F2F1'"
    ></app-specification>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our Cryogenic ASU Gas Plant apart from others"
      [content]="generators"
    ></app-generators>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-0"></app-quote>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
