<div class="image-container">
  <img src="assets/images/blogs1.png" alt="About" class="img-responsive" />
  <h3>Share this Blog</h3>
  <div class="social-media">
    <button
      style="border: 1.5px solid #4a66ad; background-color: rgb(19, 19, 136)"
    >
      <div class="button-inner">
        <i class="m-1 facebook fa-brands fa-facebook-f"></i>
        <p>Share</p>
      </div>
    </button>
    <button style="border: 1.5px solid #6baae8; background-color: #6baae8">
      <div class="button-inner">
        <i class="m-1 twitter fa-brands fa-twitter"></i>
        <p>Tweet</p>
      </div>
    </button>
    <button style="border: 1.5px solid #65d072; background: #65d072">
      <div class="button-inner">
        <i class="m-1 whatsapp fa-brands fa-whatsapp"></i>
        <p>Share</p>
      </div>
    </button>
    <button style="border: 1.5px solid #3375b0; background: #3375b0">
      <div class="button-inner">
        <i class="m-1 linkdin fa-brands fa-linkedin-in"></i>
        <p>Share</p>
      </div>
    </button>
    <button style="border: 1.5px solid #b13a65; background-color: #b13a65">
      <div class="button-inner">
        <i class="m-1 instagram fa-brands fa-instagram"></i>
        <p>Share</p>
      </div>
    </button>
    <button style="border: 1.5px solid #493ab1; background: #493ab1">
      <div class="button-inner">
        <i class="m-1 telegram fa-brands fa-telegram"></i>
        <p>Share</p>
      </div>
    </button>
  </div>
</div>
