<app-popmenu></app-popmenu>
<div class="body">
  <div class="inner">
    <div class="inner-body">
      <img src="assets/images/career1.png" alt="About" class="img-responsive" />
      <h3>Join Us</h3>
      <img src="assets/images/career2.png" alt="About" class="main-image" />

      <div
        class="inner"
        style="margin-left: 2%; width: 95%; margin-bottom: 20px"
      >
        <div class="inner-body">
          <h2>Open Position</h2>
          <hr />
          <div class="expansion">
            <mat-accordion style="gap: 20px">
              <mat-expansion-panel class="panel" style="border-radius: 10px;border: none; margin-bottom: 20px;">
                <mat-expansion-panel-header class="title"  style="border: 1px solid rgb(228, 228, 228);">
                  <mat-panel-title> Graduate Engineer Trainee </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  GAZTRON Engineering Pvt Ltd, a leading organization in the
                  field of Design, manufacturing, and Exporting Nitrogen Gas
                  Generator, is currently seeking highly motivated and talented
                  Graduate Engineer Trainees to join our upcoming projects.<br /><br />
                  As a Graduate Engineer Trainee at GAZTRON Engineering Pvt Ltd,
                  you will be responsible for various project-related tasks,
                  including managing project documents, attending and reporting
                  on client/user review meetings, generating construction
                  reports and analysis, digitization of data and reports, as
                  well as making presentations to clients.<br /><br />
                  We are looking for individuals who are passionate about
                  engineering, possess strong analytical skills, and have
                  excellent attention to detail. You will have the opportunity
                  to work in a dynamic and innovative environment, collaborating
                  with our experienced team to deliver high-quality results to
                  our esteemed clients.
                </p>
                <p>Key Responsibilities:</p>
                <ol type="A">
                  <li>
                    Managing Project Related Documents: You will be responsible
                    for organizing, maintaining, and updating project documents,
                    including technical specifications, drawings, and other
                    project-related documentation. You will ensure that all
                    documents are properly filed and easily accessible for
                    project team members and clients.
                  </li>
                  <li>
                    Attending and Reporting Client/Users for Review Meetings:
                    You will actively participate in client/user review
                    meetings, providing updates on project progress, discussing
                    challenges, and presenting solutions. You will prepare
                    comprehensive reports and communicate project updates to the
                    management and clients in a timely and professional manner.
                  </li>
                  <li>
                    Generating Various Construction Reports and Analysis for the
                    Client: You will analyze and interpret project data,
                    generate construction reports, and provide insightful
                    analysis to clients. You will utilize various tools and
                    software to analyze data and provide recommendations for
                    optimizing project performance.
                  </li>
                  <li>
                    Digitization of Data, Reports & Importing of Client Data:
                    You will be responsible for digitizing project data and
                    reports, ensuring that all information is accurately
                    recorded and stored in appropriate databases or systems. You
                    will also import client data into relevant systems and
                    perform quality checks to ensure data accuracy.
                  </li>
                </ol>
                <p>
                  If you are a self-driven and enthusiastic individual who is
                  eager to learn and contribute to cutting-edge projects,
                  GAZTRON Engineering Pvt Ltd offers an exciting opportunity for
                  your professional growth. Join us and be a part of our
                  committed team that is dedicated to delivering excellence in
                  the field of engineering.
                </p>
                <button mat-flat-button class="contact-button" (click)="showCenteredContainer('Graduate Engineer Trainee')">
                  Apply Now
                </button>
              </mat-expansion-panel>
              <mat-expansion-panel class="panel" style="border-radius: 10px;border: none; margin-bottom: 20px;">
                <mat-expansion-panel-header class="title"  style="border: 1px solid rgb(228, 228, 228);">
                  <mat-panel-title>
                    AutoCAD Mechanical Draughtsman
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  GAZTRON Engineering Pvt Ltd, a leading company engaged in the
                  design, manufacturing, and export of Nitrogen Gas Generators
                  and Oxygen Gas Generators, is currently seeking a highly
                  skilled and experienced AutoCAD Mechanical Draughtsman to join
                  our team for our upcoming projects.
                </p>
                <p>Responsibilities:</p>
                <ul>
                  <li>
                    Develop Piping and Instrumentation Diagrams (P&ID) using
                    AutoCAD.
                  </li>
                  <li>
                    Develop layout designs with respect to process requirements.
                  </li>
                  <li>
                    Develop layout designs with respect to process requirements.
                  </li>
                  <li>Create isometric drawings and 3D layouts.</li>
                  <li>
                    Generate GA-drawings for equipment and manufacturing
                    drawings for fabrication.
                  </li>
                </ul>
                <p>Requirements:</p>
                <ul>
                  <li>
                    Proficient in AutoCAD with experience in mechanical
                    drafting.
                  </li>
                  <li>
                    Strong knowledge of P&ID development, layout design, and
                    isometric drawings.
                  </li>
                  <li>
                    Experience in the manufacturing industry is preferred.
                  </li>
                  <li>Ability to work independently and as part of a team.</li>
                  <li>
                    Excellent attention to detail and accuracy in drawings
                  </li>
                  <li>
                    Effective communication skills and ability to work in a
                    fast-paced environment.
                  </li>
                </ul>
                <p>
                  Join our dynamic team at GAZTRON Engineering Pvt Ltd and
                  contribute to our innovative projects in the field of gas
                  generation technology.
                </p>
                <button mat-flat-button class="contact-button" (click)="showCenteredContainer('AutoCAD Mechanical Draughtsman')">
                  Apply Now
                </button>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel" style="border-radius: 10px;border: none; margin-bottom: 20px;">
                <mat-expansion-panel-header class="title"  style="border: 1px solid rgb(228, 228, 228);">
                  <mat-panel-title> Management Trainee Sales </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  GAZTRON Engineering Pvt Ltd, a reputable company engaged in
                  the design, manufacturing, and export of Nitrogen Gas
                  Generators, is currently looking for highly motivated and
                  talented individuals to join our team as Management Trainees
                  in Sales, Marketing, Digital Marketing, and HR. Successful
                  candidates will receive comprehensive training in various
                  streams and will be groomed to be absorbed as Assistant
                  Managers in their respective fields.
                </p>
                <p>Responsibilities:</p>
                <ol>
                  <li>
                    Develop strategic plans for all marketing teams, including
                    Digital, Advertising, Communications, and Creative, to
                    achieve business objectives.
                  </li>
                  <li>
                    Prepare and manage monthly, quarterly, and annual budgets
                    for the Marketing department, ensuring effective utilization
                    of resources.
                  </li>
                  <li>
                    Design branding, positioning, and pricing strategies to
                    strengthen market presence and enhance customer engagement.
                  </li>
                  <li>
                    Ensure consistency and effectiveness of our brand message
                    across all marketing channels and efforts, such as events,
                    email campaigns, web pages, and promotional materials.
                  </li>
                  <li>
                    Analyze consumer behavior and determine customer personas to
                    better understand target markets and tailor marketing
                    strategies accordingly.
                  </li>
                  <li>
                    Identify opportunities to penetrate new market segments and
                    expand market share, staying abreast of industry trends and
                    competition.
                  </li>
                  <li>
                    Coordinate sales and marketing efforts to synergize brand
                    awareness and maximize business opportunities.
                  </li>
                </ol>
                <p>Essential Skills:</p>
                <ol>
                  <li>
                    Digital Marketing: Proficiency in leveraging digital
                    channels, including social media, content marketing,
                    SEO/SEM, email marketing, and analytics, to drive brand
                    awareness, engagement, and conversions.
                  </li>
                  <li>
                    Offline Marketing: Strong understanding of traditional
                    marketing techniques, such as print media, events, PR, and
                    direct marketing, to effectively reach and engage target
                    audiences.
                  </li>
                </ol>
                <p>
                  Join us at GAZTRON Engineering Pvt Ltd and be part of our
                  dynamic team where you can contribute your skills and
                  expertise to drive the success of our marketing efforts and
                  achieve our business objectives.
                </p>
                <button mat-flat-button class="contact-button" (click)="showCenteredContainer('Management Trainee Sales')">
                  Apply Now
                </button>
              </mat-expansion-panel>
              <mat-expansion-panel class="panel" style="border-radius: 10px;border: none; margin-bottom: 20px;">
                <mat-expansion-panel-header class="title"  style="border: 1px solid rgb(228, 228, 228);">
                  <mat-panel-title> Sales Manager </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  GAZTRON Engineering Pvt Ltd, a leading organization in the
                  field of Design, manufacturing, and Exporting Nitrogen Gas
                  Generator, is currently seeking highly motivated and talented
                  Graduate Engineer Trainees to join our upcoming projects. We
                  are seeking an accomplished Sales Manager to join our team and
                  drive customer acquisition and revenue growth. As a Sales
                  Manager, you will be responsible for leading and motivating
                  our sales team to achieve and exceed sales targets. You will
                  also be involved in recruiting, objective setting, coaching,
                  and performance monitoring of sales representatives, while
                  building and maintaining strong customer relationships.
                  Additionally, you will be responsible for providing regular
                  sales, revenue, and expense reports, as well as forecasts to
                  the management team. In this role, you will be expected to
                  stay updated on emerging markets, market shifts, and
                  competition, as well as identify new products and business
                  opportunities.
                </p>
                <p>Responsibilities:</p>
                <ul>
                  <li>
                    Achieve growth and surpass sales targets by effectively
                    managing the sales team.
                  </li>
                  <li>
                    Oversee recruiting, objective setting, coaching, and
                    performance monitoring of sales representatives to optimize
                    their productivity and effectiveness.
                  </li>
                  <li>
                    Build and maintain strong, long-lasting customer
                    relationships by actively engaging with customers,
                    understanding their needs, and providing appropriate
                    solutions.
                  </li>
                  <li>
                    Present accurate and comprehensive sales, revenue, and
                    expenses reports, along with realistic forecasts, to the
                    management team for strategic decision-making.
                  </li>
                  <li>
                    Stay updated on emerging markets, market shifts, and
                    competition status to identify potential business
                    opportunities and develop strategies accordingly.
                  </li>
                </ul>
                <p>Requirements:</p>
                <ul>
                  <li>
                    Proven track record of success as a Sales Manager,
                    consistently meeting or exceeding sales targets.
                  </li>
                  <li>
                    Proven track record of success as a Sales Manager,
                    consistently meeting or exceeding sales targets.
                  </li>
                  <li>
                    Excellent communication and negotiation skills, with the
                    ability to build and maintain relationships with customers.
                  </li>
                  <li>
                    Analytical and strategic thinking ability to identify market
                    trends, opportunities, and potential risks.
                  </li>
                  <li>
                    Familiarity with sales techniques, CRM software, and market
                    research.
                  </li>
                  <li>
                    Ability to work in a fast-paced, dynamic environment and
                    adapt to changing
                  </li>
                </ul>
                <p>
                  Join our team and contribute to our company's success as we
                  strive to achieve our sales and revenue goals.
                </p>
                <button mat-flat-button class="contact-button" (click)="showCenteredContainer('Sales Manager')">
                  Apply Now
                </button>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel" style="border-radius: 10px;border: none; margin-bottom: 20px;">
                <mat-expansion-panel-header class="title"  style="border: 1px solid rgb(228, 228, 228);">
                  <mat-panel-title> Store Keeper </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  GAZTRON Engineering Pvt Ltd, a leading organization in the
                  field of Design, manufacturing, and Exporting Nitrogen Gas
                  Generator, is currently seeking highly motivated and talented
                  Graduate Engineer Trainees to join our upcoming projects. We
                  are currently seeking a qualified and experienced Store Keeper
                  to join our team for upcoming projects. As a Store Keeper, you
                  will be responsible for managing the incoming raw materials,
                  maintaining stock of consumables, ensuring dispatch of
                  finished goods as per invoice and customer requirements, and
                  keeping records of all invoices and materials. You will also
                  be responsible for maintaining the proper storage and
                  organization of goods/materials in the store. Basic computer
                  skills in MS Word and MS Excel will be required for this role.
                </p>
                <p>Responsibilities:</p>
                <ol type="A">
                  <li>
                    Manage the incoming raw materials and ensure proper storage
                    and organization in the store.
                  </li>
                  <li>
                    Maintain stock of consumables and replenish as needed to
                    support ongoing operations.
                  </li>
                  <li>
                    Coordinate dispatch of finished goods as per invoice and
                    customer requirements, ensuring accuracy and timeliness.
                  </li>
                  <li>
                    Keep records of all invoices and materials received or
                    dispatched for easy retrieval and reference.
                  </li>
                  <li>
                    Responsible for maintaining the cleanliness and orderliness
                    of the store to ensure the proper storage and handling of
                    goods/materials.
                  </li>
                  <li>
                    Utilize basic computer skills in MS Word and MS Excel to
                    maintain records and generate reports as needed.
                  </li>
                  <li>
                    Collaborate with other departments, such as procurement and
                    production, to ensure smooth flow of materials and efficient
                    store management. .
                  </li>
                </ol>
                <p>Requirements:</p>
                <ul>
                  <li>
                    Proven experience as a Store Keeper or similar role,
                    preferably in a manufacturing or warehouse environment.
                  </li>
                  <li>
                    Strong organizational skills with the ability to maintain
                    accurate records and track inventory levels.
                  </li>
                  <li>
                    Basic computer skills, including proficiency in MS Word and
                    MS Excel.
                  </li>
                  <li>
                    Attention to detail and ability to maintain proper storage
                    and handling of goods/materials.
                  </li>
                  <li>
                    Excellent communication skills, both written and verbal.
                  </li>
                  <li>
                    Ability to work independently and collaboratively in a team
                    environment.
                  </li>
                  <li>
                    Familiarity with inventory management software and
                    procedures is a plus.
                  </li>
                  <li>
                    Ability to prioritize tasks and meet deadlines in a
                    fast-paced environment.
                  </li>
                  <li>Physical stamina to handle lifting</li>
                </ul>
                <p>
                  Join our team as a Store Keeper and play a crucial role in
                  ensuring efficient store management and supporting our
                  upcoming projects.
                </p>
                <button mat-flat-button class="contact-button" (click)="showCenteredContainer('Store Keeper')">
                  Apply Now
                </button>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel" style="border-radius: 10px;border: none; margin-bottom: 20px;">
                <mat-expansion-panel-header class="title"  style="border: 1px solid rgb(228, 228, 228);">
                  <mat-panel-title>
                    General Manager Export Import Merchandising
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  GAZTRON Engineering Pvt Ltd, a leading organization in the
                  field of Design, manufacturing, and Exporting Nitrogen Gas
                  Generator, is currently seeking highly motivated and talented
                  Graduate Engineer Trainees to join our upcoming projects.<br /><br />
                  We are currently seeking an experienced General Manager for
                  Export, Import, and Merchandising to join our team at GAZTRON
                  Engineering Pvt Ltd, a company involved in the design,
                  manufacturing, and exporting of Nitrogen Gas Generators. As
                  the General Manager, you will be responsible for achieving
                  growth in export sales, designing and implementing a strategic
                  export sales plan to expand our customer base globally,
                  developing new initiatives and programs to capture key
                  geographical areas, managing all banking and logistic
                  activities for export, ensuring compliance with India and
                  foreign government laws and regulations, assessing marketing
                  potential of new and existing sales opportunities, managing
                  budgets, setting sales targets, and evaluating sales data, as
                  well as maintaining and developing client relationships
                  through excellent interpersonal and communication skills.
                </p>
                <p>Responsibilities:</p>
                <ol type="A">
                  <li>
                    Achieve growth in export sales and hit export sales targets
                    through effective sales strategies and initiatives.
                  </li>
                  <li>
                    Design and implement a strategic export sales plan to expand
                    the company's customer base and ensure a strong presence
                    across the globe.
                  </li>
                  <li>
                    Develop and implement new initiatives, strategies, and
                    programs to capture key geographical areas across the globe
                    and increase market share.
                  </li>
                  <li>
                    Manage all banking and logistic activities for export,
                    including preparing required documents and ensuring
                    compliance with India and foreign government laws and
                    regulations.
                  </li>
                  <li>
                    Oversee the entire export process, including sales
                    contracts, shipping, documentation, and customs clearance.
                  </li>
                  <li>
                    Assess marketing potential of new and existing sales
                    opportunities, analyze market trends, and present new
                    opportunities in a clear and analytical manner to the
                    management team.
                  </li>
                  <li>
                    Manage budgets, set sales targets, and evaluate sales data
                    to monitor performance and implement corrective actions as
                    needed.
                  </li>
                  <li>
                    Build and maintain excellent relationships with existing
                    clients, identify and pursue new client relationships, and
                    represent the company in trade shows, exhibitions, and other
                    events.
                  </li>
                  <li>
                    Provide leadership, guidance, and coaching to the export,
                    import, and merchandisin
                  </li>
                </ol>
                <p>Requirements:</p>
                <ul>
                  <li>
                    Proven experience in export sales, import, and
                    merchandising, preferably in the manufacturing or
                    engineering industry.
                  </li>
                  <li>
                    Strong knowledge of international trade regulations, customs
                    clearance, and documentation requirements.
                  </li>
                  <li>
                    Ability to design and implement strategic sales plans to
                    expand customer base and capture new markets.
                  </li>
                  <li>
                    Excellent understanding of business finance, including
                    budgeting, setting sales targets, and evaluating sales data.
                  </li>
                  <li>
                    Strong analytical and presentation skills to assess market
                    potential and present new opportunities.
                  </li>
                  <li>
                    Excellent interpersonal and communication skills to build
                    and maintain client relationships.
                  </li>
                  <li>
                    Ability to manage a team and provide leadership and
                    guidance.
                  </li>
                  <li>
                    Familiarity with export-related software and documentation
                    procedures.
                  </li>
                  <li>Willingness to travel internationally as needed.</li>
                  <li>
                    Bachelor's degree in Business Administration, International
                    Business, or related field. MBA is a plus.
                  </li>
                </ul>

                <p>
                  Join our team as a General Manager for Export, Import, and
                  Merchandising and play a pivotal role in expanding our global
                  presence and achieving export sales growth for our upcoming
                  projects.
                </p>
                <button mat-flat-button class="contact-button" (click)="showCenteredContainer('General Manager Export Import Merchandising')">
                  Apply Now
                </button>
              </mat-expansion-panel>

              <mat-expansion-panel class="panel" style="border-radius: 10px; margin-bottom: 20px;">
                <mat-expansion-panel-header class="title" style="border: 1px solid rgb(228, 228, 228);">
                  <mat-panel-title> Accounts Manager </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  GAZTRON Engineering Pvt Ltd, a leading organization in the
                  field of Design, manufacturing, and Exporting Nitrogen Gas
                  Generator, is currently seeking a highly motivated and
                  talented Accounts Manager to join our team. As an Accounts
                  Manager, you will be responsible for overseeing the financial
                  activities of the company, managing accounts receivable and
                  payable, preparing financial statements, and ensuring
                  compliance with financial regulations.
                </p>
                <p>Responsibilities:</p>
                <ol>
                  <li>
                    Manage and oversee the daily operations of the accounts
                    department, including accounts receivable, accounts payable,
                    and general ledger.
                  </li>
                  <li>
                    Prepare and analyze financial statements, including profit
                    and loss statements, balance sheets, and cash flow
                    statements.
                  </li>
                  <li>
                    Ensure accurate and timely recording of financial
                    transactions, including invoicing, payments, and receipts.
                  </li>
                  <li>
                    Monitor and manage cash flow, including forecasting and
                    budgeting.
                  </li>
                  <li>
                    Reconcile bank statements and ensure accuracy of financial
                    data.
                  </li>
                  <li>
                    Develop and implement financial policies, procedures, and
                    internal controls to safeguard company assets and ensure
                    compliance with accounting standards and regulations.
                  </li>
                  <li>
                    Collaborate with other departments to gather financial data
                    and provide insights and recommendations for improving
                    financial performance.
                  </li>
                  <li>
                    Conduct periodic financial analysis and reporting to
                    identify areas of improvement and make strategic
                    recommendations to senior management.
                  </li>
                  <li>
                    Coordinate with external auditors during the annual audit
                    process.
                  </li>
                  <li>
                    Stay updated on accounting standards, tax regulations, and
                    financial best practices to ensure compliance and drive
                    process improvements.
                  </li>
                </ol>
                <p>Requirements:</p>
                <ol>
                  <li>
                    Proven work experience as an Accounts Manager or in a
                    similar role.
                  </li>
                  <li>
                    Strong knowledge of accounting principles, practices, and
                    regulations.
                  </li>
                  <li>
                    Experience in financial analysis, budgeting, and
                    forecasting.
                  </li>
                  <li>
                    Proficient in using accounting software and MS Office
                    applications.
                  </li>
                  <li>Excellent attention to detail and accuracy.</li>
                  <li>Strong analytical and problem-solving skills.</li>
                  <li>Ability to work independently and meet deadlines.</li>
                  <li>Excellent communication and interpersonal skills.</li>
                  <li>
                    Bachelor's degree in Accounting, Finance, or a related
                    field. CPA or CMA certification is a plus.
                  </li>
                  <li>
                    Previous experience in the manufacturing or engineering
                    industry is preferred.
                  </li>
                </ol>
                <p>
                  Join our team as an Accounts Manager and contribute to the
                  financial success of GAZTRON Engineering Pvt Ltd. Your
                  expertise and dedication will play a crucial role in our
                  organization's growth and profitability.
                </p>
                <button mat-flat-button class="contact-button" (click)="showCenteredContainer('Account Manager')" >
                  Apply Now
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <p style="margin-left: 20px; ">
            If you're excited about these positions, we'd love to hear from you!
            Please send your resume and details to either <a href="mailto:info@gaztron.in">info@gaztron.in</a> or
            <a href="mailto:gaztronengineering@gmail.com">gaztronengineering@gmail.com</a>. We can't wait to learn more about you
            and your interest in these roles!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="scroll-button" *ngIf="showScrollButton" (click)="scrollToTop()">
  <i class="fa-sharp fa-solid fa-chevron-up"></i>
</button>
