<div class="main-container">
  <div class="header">
    <div class="title">Home Slider Banner</div>


  </div>
  <div class="card">
    <div style="width: 80%" *ngIf="form">
      <form [formGroup]="form" (submit)="onSubmit(this.form.get('image'))">
            <div class="banner-logo">
              <img [src]="logoPreview" alt="">
              <button class="image-button" mat-button type="button" (click)="logoPicker.click()">
                Pick Logo
              </button>
              <input type="file" #logoPicker (change)="onLogoPicked($event)" />
            </div> 
            <div class="display-image">
              <img [src]="imagePreview" alt="">
              <button class="image-button" mat-button type="button" (click)="imagePicker.click()">
                Pick Image
              </button>
              <input type="file" #imagePicker (change)="onImagePicked($event)" />
            </div> 

        <mat-form-field>
          <mat-label>Banner Heading</mat-label>
          <input matInput formControlName="heading" type="text" />

          <mat-error *ngIf="form.get('heading').invalid"
            >Please enter your name.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Short Description</mat-label>
          <input matInput formControlName="description" type="description" />
          <mat-error *ngIf="form.get('description').invalid"
            >Please enter a valid email.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Slider Banner Url</mat-label>
          <input matInput formControlName="url" type="url" />
          <mat-error *ngIf="form.get('url').invalid"
            >Please enter a valid email.</mat-error
          >
        </mat-form-field>
        <button class="submit-button" type="submit">Add Banner</button>
      </form>
    </div>
  </div>
</div>
