<app-first-slider></app-first-slider>
<app-multislider></app-multislider>
<app-psa-nitrogen ></app-psa-nitrogen>
<app-psa-oxygen></app-psa-oxygen>
<app-ammonia></app-ammonia>
<app-cryogenic></app-cryogenic>
<app-qualities></app-qualities>
<app-industries></app-industries>
<app-questions [questions]="questions" [backgroundColor]="'linear-gradient(to bottom, black 0%, black 40%, #354ED2 100%)'" [color]="'#FFFFFF'" [image]="'assets/images/question-white.png'"></app-questions>
<app-quote [options]="options"></app-quote>
