<div class="image-container">
  <img src="assets/images/10038.png" alt="About" class="img-responsive" />
  <h3>Accreditation Accomplishments</h3>
  <p>
    Our state-of-the-art manufacturing and office facility has achieved
    prestigious international certifications, solidifying our commitment to
    excellence and setting us apart from our competitors. We have successfully
    met the stringent compliance requirements of these certifications with
    flying colours, showcasing our unwavering dedication to quality and
    compliance.
  </p>
  <button mat-flat-button class="contact-button" routerLink="/certification">
    View Certificate
  </button>
</div>
