<div class="main-container">
  <div class="slider">
    <div class="heading">
      Gaztron’s Oxygen Generator for Industrial Purposes
    </div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Welcome to Gaztron, where innovation meets excellence in the realm of
      industrial oxygen generation. As the foremost industry leader in India, we
      take immense pride in delivering cutting-edge solutions that power
      numerous industrial processes with unparalleled efficiency and
      reliability.
    </p>
    <p class="description">
      With a commitment to excellence and a legacy of proven expertise, Gaztron
      has cemented its position as the go-to destination for state-of-the-art
      oxygen generators. Our dedication to continuous research and development
      ensures that our clients benefit from the latest advancements in
      technology, resulting in superior products that redefine industry
      standards.
    </p>
    <p class="description" style="font-weight: 700">Unrivaled Expertise</p>
    <p class="description">
      Gaztron boasts a team of seasoned engineers, technical experts, and
      industry specialists who possess a wealth of experience in the design and
      manufacturing of industrial oxygen generators. We have successfully
      catered to a diverse array of industries, including steel manufacturing,
      chemical processing, wastewater treatment, healthcare, and more.
    </p>
    <p class="description" style="font-weight: 700">Cutting-Edge Technology</p>
    <p class="description">
      At Gaztron, innovation is at the core of everything we do. Our oxygen
      generators are crafted with precision using the latest technological
      advancements, guaranteeing seamless integration and optimal performance
      for your industrial operations. Our products are built to endure and
      deliver consistent results, regardless of the challenges faced.
    </p>
    <p class="description" style="font-weight: 700">Customized Solutions</p>
    <p class="description">
      We understand that every industry has its unique requirements. Hence,
      Gaztron offers tailored oxygen generator solutions that cater specifically
      to your operational needs. Our team collaborates closely with clients to
      comprehend their objectives and design solutions that boost productivity
      while maintaining the highest safety standards.
    </p>
    <p class="description" style="font-weight: 700">Unmatched Quality</p>
    <p class="description">
      Our commitment to quality is unwavering. Gaztron's oxygen generators
      undergo rigorous testing at every stage of production, adhering to
      international quality standards. This ensures that our customers receive
      products of the utmost reliability, efficiency, and durability.
    </p>
    <p class="description" style="font-weight: 700">
      Customer-Centric Approach
    </p>
    <p class="description">
      At Gaztron, our clients are at the heart of everything we do. We take
      pride in providing exemplary customer service and technical support,
      ensuring a seamless experience from initial consultation to post-sales
      assistance. Our responsive team is always on hand to address any queries
      and provide timely solutions.
    </p>
    <p class="description" style="font-weight: 700">Eco-Friendly Solutions</p>
    <p class="description">
      We recognize the importance of sustainability in today's world. Gaztron's
      oxygen generators are designed to optimize energy consumption, thereby
      minimizing the environmental impact. By choosing our products, you
      contribute to a greener future while enhancing your operational
      efficiency.
    </p>
    <p class="description" style="font-weight: 700">
      Experience the Gaztron Advantage
    </p>
    <p class="description">
      As you partner with Gaztron, you gain access to an unmatched repertoire of
      industrial oxygen generator solutions that cater to your specific needs.
      Our passion for excellence, commitment to innovation, and customer-centric
      approach make us the undeniable leader in the industry.
    </p>
    <p class="description">
      Whether you are looking to enhance your production processes, improve
      efficiency, or reduce operating costs, Gaztron has the ideal solution to
      propel your success. Join hands with India's premier manufacturer of
      industrial oxygen generators, and embark on a journey of enhanced
      productivity and prosperity.
    </p>

    <p class="description">
      Contact us today to explore how Gaztron can revolutionize your industrial
      operations with our world-class oxygen generator solutions. Let us be the
      catalyst for your success, as we embark together on a path of growth and
      progress.
    </p>
  </div>

  <div class="slider">
    <app-specification
      title="Available Models of Gaztron’s Oxygen Generator (GOX-I Model)"
      [tableContent]="tableModelContent"
      [headings]="tableModelHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
      [borderRight]="'1px solid rgb(219, 219, 219)'"
    ></app-specification>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>
        On-site, PSA systems showcase their remarkable advantage by providing
        easy access to Oxygen whenever needed.
      </li>
      <li>
        Compared to alternative cryogenic procedures, PSA systems offer a
        significantly more cost-effective method.
      </li>
      <li>
        By using PSA systems, businesses can rest assured of minimized financial
        losses during shutdowns, unlike with cryogenic methods.
      </li>
      <li>
        The unit's accessibility ensures swift delivery and purchase, making it
        a hassle-free experience for customers.
      </li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      Delivery Period of Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <app-specification
      title="Capacity of Gaztron’s Oxygen Generator (GOX-I Model) In Terms of Cylinder Filled & Beds Catered"
      description="Gaztron's Gox model Oxygen Generator stands as a tried and tested, versatile piece of equipment, showcasing unparalleled performance in oxygen gas production. Throughout India's battle against COVID-19, this powerhouse has emerged as a crucial asset, extending its indispensable services to hospitals across the nation."
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
    ></app-specification>
  </div>

  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s Oxygen Generator (GOX-I Model)
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/cudx.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our Oxygen Generator apart from others"
      [content]="generators"
    ></app-generators>
  </div>

  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-1"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
