<div class="main-container">
  <div class="slider">
    <div class="heading">Gaztron’s Nitrogen Gas Generator Plant (DX Model)</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Welcome to Gaztron, the forefront in manufacturing and exporting top-tier
      DX model PSA-based generators and plants. Our unparalleled range of DX
      Model Nitrogen Gas Generators is renowned for producing ultra-pure
      nitrogen gas with an astonishing purity level of 99.9998% (2 PPM) and a
      hydrogen content ranging from 0.5% to 1%. Embraced by numerous industries,
      our nitrogen gas generators are the ultimate solution for heat treatment
      applications.
    </p>
    <p class="description">
      At Gaztron, we take immense pride in our cutting-edge technology and
      state-of-the-art facilities, ensuring that each DX Model Nitrogen Gas
      Generator is engineered to perfection. We meticulously craft our
      generators to deliver the highest purity nitrogen gas, meeting the most
      stringent requirements of our esteemed clients.
    </p>
    <p class="description">
      Our team of dedicated experts works tirelessly to maintain Gaztron's
      reputation as a pioneer in the field. With an unwavering commitment to
      excellence, we have set the industry standard for nitrogen gas generators
      and continue to surpass expectations.
    </p>
    <p class="description">
      When you choose Gaztron, you can rest assured that you are investing in
      unmatched quality, reliability, and performance. Our DX Model Nitrogen Gas
      Generators guarantee a seamless and efficient nitrogen gas supply for your
      specific heat treatment needs, giving your processes the edge they
      deserve.
    </p>
    <p class="description">
      Join the ranks of satisfied customers who have experienced the Gaztron
      difference. Elevate your operations to new heights with our premium DX
      Model Nitrogen Gas Generators – the ultimate source of ultra-pure nitrogen
      gas. Trust Gaztron to deliver excellence beyond compare.
    </p>
  </div>
  <div class="slider">
    <app-application-template
      [application]="applications"
      [title]="'Gaztron’s PSA Nitrogen Generator Applications'"
      [description]="
        'Gaztron\'s Nitrogen Gas Generator Plants are coveted worldwide, acclaimed for their exceptional performance across multiple industries. Our unwavering commitment to relentless innovation and progress has firmly positioned us as industry frontrunners in several specialized domains:'
      "
    >
    </app-application-template>
  </div>
  <div class="slider">
    <div class="heading">
      Technical Specifications of Gaztron’s Nitrogen Gas Generator Plant (DX
      Model)
    </div>
    <div class="divider"></div>

    <ul>
      <li>
        Unrivaled Flow Range: From a minimum of 5 Nm3/hr to an astonishing 1000
        Nm3/hr, our DX Model stands tall, surpassing industry standards and
        providing a seamless flow of nitrogen gas for all your applications.
      </li>
      <li>
        Purity Perfected: Gaztron leaves no room for compromise when it comes to
        purity. Our DX Model boasts an unparalleled purity range, stretching
        from an impressive 99.9995% (5 PPM) to a staggering 99.9999% (1 PPM).
        Rest assured, your nitrogen gas will meet the most stringent
        requirements, setting new benchmarks in quality.
      </li>
      <li>
        Mind-Blowing Dew Point: Operating in environments ranging from -40
        degrees Celsius to -80 degrees Celsius, Gaztron's Nitrogen Gas Generator
        Plant maintains an optimal dew point that guarantees superior
        performance even in the most demanding conditions.
      </li>
      <li>
        Pressure that Packs a Punch: Our DX Model is engineered to deliver
        nitrogen gas at varying pressures, ranging from a substantial 5 kg/cm2
        to an awe-inspiring 140 kg/cm2. Whether your needs are modest or
        immense, we have you covered!
      </li>
    </ul>
    <p class="inner-description">
      When it comes to nitrogen gas generation, Gaztron's DX Model is the
      embodiment of precision, reliability, and sheer engineering brilliance.
      Say goodbye to mediocre performance and embrace a new era of confidence in
      your nitrogen gas supply.
    </p>
    <p class="inner-description">
      Invest in Gaztron's Nitrogen Gas Generator Plant (DX Model) today, and
      revolutionize your industrial processes with a force to be reckoned with.
      Trust us; you won't find anything else that even comes close!
    </p>
  </div>
  <div class="slider">
    <app-specification
      title="Available Models of Gaztron’s Nitrogen Gas Generator Plant (CU-DX Model)"
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
      [borderRight]="'1px solid rgb(219, 219, 219)'"
    ></app-specification>
  </div>

  <div class="slider">
    <div class="heading">
      The primary equipment utilized in Gaztron’s Nitrogen Gas Generator Plant
      (CU-DX Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>Air Compressor</li>
      <li>After Cooler</li>
      <li>Moisture Separator</li>
      <li>Air Dryer</li>
      <li>Air Receiver</li>
      <li>Three Stage Air Filtration System</li>
      <li>Twin Tower PSA System with Automatic Valve</li>
      <li>Gas Mixture System</li>
      <li>Twin Tower Copper Filled – Copper Unit</li>
      <li>Gas Dryer</li>
      <li>Gas Storage tank</li>
      <li>Ammonia Cracker or Gas Cylinder Unit</li>
      <li>
        All accessories with Analyser, Auto Drain Valve, Safety Valve, PRV etc.
      </li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      The operational principle of Gaztron’s Nitrogen Gas Generator Plant (DX
      Model)
    </div>
    <div class="divider"></div>
    <p class="inner-description">
      The Gaztron Nitrogen Gas Generator Plant (DX Model) operates on a two-step
      process to ensure high nitrogen purity.
    </p>
    <ul>
      <li>
        Step 1: Nitrogen Purity Enhancement The process begins by producing
        nitrogen with a purity of 99.5% through a Standard PSA nitrogen Gas
        Generator. The nitrogen with this purity is then directed through a
        De-Oxo Unit and Gas Dryer.
      </li>
      <li>
        Step 2: Oxygen Removal and Moisture Elimination To eliminate the
        remaining 0.5% of oxygen, a combustion reaction is employed. Hydrogen is
        introduced into the De-oxo Unit, which contains a palladium catalyst.
        The reaction occurs, generating heat and effectively removing the oxygen
        content.
      </li>
    </ul>
    <p class="inner-description">
      As a result of this reaction, the nitrogen purity is significantly
      increased to an impressive 99.9998%, which is approximately 2PPm. However,
      during this process, some moisture in the form of 2H2O is generated. To
      eliminate this moisture and achieve the desired dew point, the gas is
      passed through a Gas Dryer.
    </p>
    <p class="inner-description">
      The Gaztron Nitrogen Gas Generator Plant (DX Model) operates through a
      two-step process involving nitrogen purity enhancement and oxygen removal,
      resulting in an exceptionally high nitrogen purity level of 99.9998%, with
      the moisture effectively removed using a Gas Dryer.
    </p>

    <div class="formula">
      <img src="assets/images/formula-dx.png" alt="" />
      <div class="equation">N2 + 2H2 + O2 → N2 + 2H2O + Energy</div>
    </div>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s Nitrogen Gas Generator Plant (DX Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>
        PSA systems ensure on-site availability of Oxygen, providing a
        convenient and seamless supply.
      </li>
      <li>
        Compared to alternative cryogenic procedures, PSA systems offer a more
        cost-effective method.
      </li>
      <li>
        Opting for PSA systems guarantees reduced financial losses during
        shutdowns, unlike cryogenic methods.
      </li>
      <li>
        The readily accessible unit of PSA systems allows for swift delivery and
        easy purchase, ensuring uninterrupted Oxygen availability.
      </li>
    </ul>
  </div>
  <div class="slider">
    <app-scope></app-scope>
  </div>
  <div class="slider">
    <div class="heading">
      Delivery Period of Gaztron’s Nitrogen Gas Generator Plant (DX Model)
    </div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s Nitrogen Gas Generator Plant
      (DX Model)
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/cudx.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our PSA Nitrogen Generator apart from others"
      [content]="generators"
    ></app-generators>
  </div>
  <div class="slider">
    <app-nitrogen-chart></app-nitrogen-chart>
  </div>
  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-4"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
