
<div class="containers">
    <div class="heading">
        Subscribe to our Blogs
    </div>
    <mat-form-field appearance="outline" >
        <input matInput placeholder="Email Address" style=" border-radius: 62px; padding: 10px;">
        <button class="custom" matSuffix>Send</button>
      </mat-form-field>
      <button class="custom-1">Send</button>
    <div class="circle circle-tl"></div>
    <div class="circle circle-tr"></div>
    <div class="circle circle-bl"></div>
    <div class="circle circle-br"></div>
  </div>
  