<div class="main-container" [style.color]="color" [style.background]="backgroundColor">
  <div class="left-column">
    <div class="title">Frequently Asked Questions</div>
    <div class="description">
      Have a question? Check out our frequently asked questions to find your
      answer.
    </div>
    <img [src]="image" alt="" />
  </div>
  <div class="right-column">
    <mat-accordion>

    <div *ngFor="let dropdown of questions">
        <mat-expansion-panel class="panel" style="border-radius: 10px; margin-bottom: 30px; max-height: none;">
          <mat-expansion-panel-header style="border: 1px solid rgb(228, 228, 228); height: auto; padding-block: 15px;">
            <mat-panel-title style="font-family: DM Sans;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;            
            max-height: 100px;
            
            "> {{dropdown.label}}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="answer">
            <pre style="white-space: pre-wrap;">{{dropdown.option}}</pre>
          </div>
        </mat-expansion-panel>

    </div>
  </mat-accordion>
  </div>
</div>
