@import "~@fortawesome/fontawesome-free/css/all.min.css";

.industry-img-responsive {
  width: 112px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 112px;
  margin-block: 30px;
}
.industry-card{
  margin: 20px;
  border:none;
}
.industry-border-img {
    margin-left: 20px;
  width: 90%;
}
.industry-border-img img{
    width: 100%;
    object-fit: cover;
    height: 200pxpx;
    border-radius: 20px 20px 0px 0px;
}

.industry-title {
    font-family: DM Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
    color: #556AD9;    
}
.industry-innner-title{
    font-family: Helvetica Neue;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.02em;
text-align: left;
}

.industry-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border: 1px solid #c2c2c2;
    border-radius: 0px 0px 20px 20px;
    padding: 30px 20px;

}
.industry-description{
    font-family: Helvetica Neue;
    margin-top: 10px;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.02em;
text-align: left;
color: #6D675FB2;

}
.p-carousel .p-carousel-content .p-carousel-prev:enabled:hover, .p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
  background: #354ed2;
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
  background: #354ed2;
}
.p-icon{
  color: white;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: #ced4da;
  width: 10px;
  height: 10px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  width: 50px;
  border-radius: 12px;
  background-color: #354ed2;
}