<div class="main-container">
  <div class="left-column">
    <div class="image-container">
      <img
        class="bottom-dots"
        src="assets/images/white-dots.png"
        alt="Overlay Image"
      />
      <img
        class="main-image"
        src="assets/images/psa-nitrogen.png"
        alt="Main Image"
      />
      <img
        class="top-dots"
        src="assets/images/white-dots.png"
        alt="Overlay Image"
      />
    </div>
  </div>
  <div class="right-column">
    <div class="title">
      <div class="number">01.</div>
      PSA Nitrogen Generator
    </div>
    <div class="description">
      We specialize in designing and manufacturing top-of-the-line Nitrogen
      Plant Generators that come in different purity levels to suit a variety of
      applications. Our standard Nitrogen Generator model can achieve Nitrogen
      purity levels of up to 99.99%, while our high purity Nitrogen Gas
      Generator (Palladium-DX) and Ultra high purity Nitrogen Gas Generator
      (Copper-DX) models can reach Nitrogen purity levels of up to 99.9999%. The
      Palladium-DX model is particularly favoured for heating systems due to its
      exceptional purity levels.
    </div>

    <div class="row">
      <div class="icon">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="content">
        Gaztron offers a range of
        <b style="font-size: 18px">Nitrogen Gas Generators</b> that can produce
        nitrogen at flow rates between 1 to 1000 nm3/hr, with varying purity
        levels from 98% to 99.9999%. Our systems are capable of supplying
        nitrogen at pressures ranging from 5 kg/cm2g to 140 kg/cm2 and can
        achieve extremely low dew points of up to (-) 80°C.
      </div>
    </div>
    <div class="row">
      <div class="icon">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="content">
        Gaztron offers a range of
        <b style="font-size: 18px">Nitrogen Gas Generators</b> that can produce
        nitrogen at flow rates between 1 to 1000 nm3/hr, with varying purity
        levels from 98% to 99.9999%. Our systems are capable of supplying
        nitrogen at pressures ranging from 5 kg/cm2g to 140 kg/cm2 and can
        achieve extremely low dew points of up to (-) 80°C.
      </div>
    </div>
    <div class="row-2">
      <button class="quote">Request a quote</button>
      <button class="learn-more" routerLink="nav-nitrogen">Learn More</button>
    </div>
  </div>
</div>
