<div class="list">
    <ul>
        <li>Ammonia manifold complete with isolation valves</li>
            <li>Ammonia Regulator Ammonia Pressure regulator to reduce pressure valve</li>
            <li>standby Regulator</li>
            <li>Finned cooler complete with moisture separator.</li>
            <li>Cracked Gas Flow Meter</li>
            <li>Heat Exchanger</li>
            <li>Ceramic fiber lined electrically heated furnace</li>
            <li>Retort filled with Nickel catalyst</li>
            <li>Cracked Gas Purifier with Desiccant</li>
            <li>Electrical control panel fully wired with required indicator</li>
            <li>Instrumentation like low & high pressure switches</li>
            <li>Safety, valves, flow switches, temp. Controllers etc.</li>
            <li>All inter connected piping within battery limit</li>
            <li>Cracked Gas Purifier with Desiccant</li>
    </ul>
</div>