<!-- side-menu.component.html -->

<div class="side-menu" [ngClass]="{ open: isOpen }">
  <i class="icon fa-solid fa-xmark" (click)="onCloseButtonClick()"></i>
  <div class="content">
    <h2>Address</h2>
    <p class="phone-info">
      <a href="#"
        >Gaztron Engineering Private Limited (An ISO 9001-2015 Certified Co.)
        Industrial Plot No. - 179, Udyog Kendra - I, Ecotech - III, Greater
        Noida - 201306
      </a>
    </p>
    <div class="phone-info">
      <i class="fa fa-phone"></i>
      
        <span><a href="#">+91 120-2397777, </a><a href="#">+91-8447203393, </a></span>
        <span><a href="#">+91-120-2397778, </a><a href="#">+91-8447203393</a
          ></span>
    </div>
    <h2>About</h2>
    <p>
      We Are India's Leading manufacturer of high-quality On-Site PSA Nitrogen
      (N2) Gas Generator Plants. Our technology-driven approach ensures that we
      provide our clients with the highest quality custom-made solutions as well
      as standard industrial solutions, at the lowest energy costs.
    </p>
    <div class="social">
      <a
        href="https://www.facebook.com/GaztronEngineering/"
        target="_blank"
        rel="noreferrer"
      >
      <i class="facebook fa-brands fa-facebook-f"></i>
          </a>
      <a
        href="https://www.instagram.com/gaztronindia/"
        target="_blank"
        rel="noreferrer"
      >
      <i class="instagram fa-brands fa-instagram"></i>      </a>
      <a
        href="https://in.linkedin.com/company/gaztron-engineering-private-limited"
        target="_blank"
        rel="noreferrer"
      >
      <i class=" linkdin fa-brands fa-linkedin-in"></i>      </a>
      <a
        href="https://twitter.com/GaztronIndia"
        target="_blank"
        rel="noreferrer"
      >
      <i class=" twitter fa-brands fa-twitter"></i>      </a>
      <a
        href="https://www.youtube.com/watch?v=x1DPsTOQ1Uw&list=PLsKFSEuYuV619-ZOgf3HCLMtFeVIawpla"
        target="_blank"
        rel="noreferrer"
      >
      <i class=" youtube fa-brands fa-youtube"></i>      </a>
    </div>
  </div>
</div>
