<div class="main-container">
  <div class="slider">
    <div class="heading">Gaztron’s VPSA Oxygen Generator (10-60 NM3)</div>
    <div class="divider"></div>
    <app-nav-slider></app-nav-slider>
    <p class="description">
      Welcome to Gaztron Engineering Private Limited, where we pride ourselves
      on providing an extensive selection of high-quality VPSA Based Oxygen Gas
      Generating Systems. Our cost-effective and dependable systems are designed
      to supply oxygen gas at standard models with a capacity ranging from 10 to
      60 Nm3/hr, ensuring a steady flow of oxygen with a purity level of 90% to
      96%.
    </p>
    <p class="description">
      At Gaztron Engineering Private Limited, we prioritize user convenience,
      which is why our systems are operation-friendly and maintenance-free. With
      low capital costs, our systems offer a cost-effective solution for your
      oxygen gas needs. They are specifically designed to run continuously, 24
      hours a day, 7 days a week, ensuring uninterrupted oxygen supply for your
      healthcare or industrial requirements.
    </p>
    <p class="description">
      As the leading manufacturer of VPSA Oxygen Generators in India, Gaztron
      Engineering Private Limited takes pride in delivering top-notch products
      for both healthcare and industrial purposes. Our commitment to quality and
      reliability sets us apart from the competition.
    </p>
    <p class="description">
      As the leading manufacturer of VPSA Oxygen Generators in India, Gaztron
      Engineering Private Limited takes pride in delivering top-notch products
      for both healthcare and industrial purposes. Our commitment to quality and
      reliability sets us apart from the competition.
    </p>
    <p class="description">
      Elevate your oxygen supply capabilities with Gaztron Engineering Private
      Limited. Contact us today and discover how our range of cost-effective,
      operation-friendly systems can revolutionize your oxygen supply needs with
      unparalleled efficiency.
    </p>
  </div>
  <div class="slider">
    <app-application-template
      [application]="applications"
      [title]="'Gaztron’s VPSA Oxygen Generator Applications'"
      [description]="
        'Gaztron\'s Oxygen Generator Plants are sought after in various sectors worldwide. Our unwavering commitment to innovation and progress has positioned us as frontrunners in the subsequent areas of expertise:'
      "
    >
    </app-application-template>
  </div>
  <div class="slider">
    <div class="heading">
      Technical Specifications of Gaztron’s VPSA Oxygen Generator (10-60 NM3)
    </div>
    <div class="divider"></div>

    <ul>
      <li>
        Impressive Capacity: Boasting a remarkable capacity of 10-60 Nm3/hr,
        Gaztron's VPSA Oxygen Generator stands as a reliable and efficient
        solution for oxygen gas generation.
      </li>
      <li>
        Optimal Purity Range: This cutting-edge oxygen generator ensures the
        delivery of oxygen gas with a purity range between 90% and 96%. With
        such high levels of purity, it meets stringent industry standards and
        ensures the availability of premium-quality oxygen for various
        applications.
      </li>
      <li>
        Versatile Discharge Pressure: Gaztron's VPSA Oxygen Generator offers the
        flexibility to cater to a wide range of requirements by accommodating
        discharge pressures ranging from 4 kg/cm2 to an astounding 140 kg/cm2.
        This broad pressure range allows for seamless integration with diverse
        systems and enables the generator to adapt to different operational
        environments.
      </li>
    </ul>
    <p class="inner-description">
      By combining exceptional capacity, a wide purity range, and versatile
      discharge pressure options, Gaztron's VPSA Oxygen Generator with a
      capacity of 10-60 Nm3/hr showcases its prowess as a reliable and
      technologically advanced solution for oxygen gas generation. Whether for
      medical, industrial, or other applications, this generator guarantees the
      provision of high-purity oxygen gas, meeting the demands of even the most
      critical operations.
    </p>
  </div>
  <div class="slider">
    <div class="heading">
      The primary equipment utilized in Gaztron’s VPSA Oxygen Generator (10-60
      NM3)
    </div>
    <div class="divider"></div>
    <ul>
      <li>Air Compressor</li>
      <li>After Cooler</li>
      <li>Moisture Separator</li>
      <li>Air Dryer</li>
      <li>Air Receiver</li>
      <li>Three Stage Air Filtration System</li>
      <li>Twin Tower PSA System with Automatic Valve</li>
      <li>Gas Mixture System</li>
      <li>Twin Tower Copper Filled – Copper Unit</li>
      <li>Gas Dryer</li>
      <li>Gas Storage tank</li>
      <li>Ammonia Cracker or Gas Cylinder Unit</li>
      <li>
        All accessories with Analyser, Auto Drain Valve, Safety Valve, PRV etc.
      </li>
    </ul>
  </div>

  <div class="slider">
    <div class="heading">
      The operational principle of Gaztron’s VPSA Oxygen Generator (10-60 NM3)
    </div>
    <div class="divider"></div>
    <p class="inner-description">
      The Gaztron VPSA Oxygen Generator (10-60 NM3) operates based on a
      sophisticated process utilizing pressure swing adsorption (VPSA)
      technology. This advanced system allows for the production of
      oxygen-enriched air by selectively adsorbing nitrogen from a gas mixture,
      such as air, through the utilization of a zeolite adsorbent bed.
    </p>
    <p class="inner-description">
      In this process, the gas mixture, under pressure, is introduced into a
      vessel containing the zeolite adsorbent bed. Zeolite is a material with a
      high affinity for nitrogen compared to oxygen. As the gas mixture flows
      through the bed, the zeolite adsorbent preferentially attracts and retains
      the nitrogen molecules, allowing oxygen to pass through more freely.
    </p>
    <p class="inner-description">
      Consequently, the gas exiting the vessel becomes enriched in oxygen
      content due to the preferential retention of nitrogen by the zeolite bed.
      The concentration of oxygen in the outgoing gas stream is significantly
      increased compared to the original gas mixture.
    </p>
    <p class="inner-description">
      As the zeolite bed continues to adsorb nitrogen, it eventually reaches its
      capacity and requires regeneration to restore its adsorption capabilities.
      The regeneration process involves reducing the pressure within the vessel,
      which facilitates the release of the adsorbed nitrogen from the zeolite
      bed.
    </p>

    <p class="inner-description">
      Once the bed is regenerated and free from the adsorbed nitrogen, it
      becomes ready for another cycle of producing oxygen-enriched air. This
      cyclic operation ensures a continuous supply of high-purity oxygen by
      alternately adsorbing nitrogen and regenerating the zeolite bed.
    </p>
    <p class="inner-description">
      The Gaztron VPSA Oxygen Generator (10-60 NM3) provides an efficient and
      reliable method for generating oxygen-enriched air by leveraging the
      selective adsorption properties of zeolite. This technology enables a wide
      range of applications where a dependable and on-site oxygen supply is
      essential, such as medical facilities, industrial processes, and other
      critical sectors.
    </p>
  </div>
  <div class="slider">
    <div class="heading">
      Advantages of On-Site Gaztron’s VPSA Oxygen Generator (10-60 NM3)
    </div>
    <div class="divider"></div>
    <ul>
      <li>
        VPSA systems demonstrate their advantageous nature on-site, ensuring the
        convenient availability of Oxygen.
      </li>
      <li>
        It offers a more cost-effective method compared to alternative cryogenic
        procedures.
      </li>
      <li>
        It guarantees reduced financial losses during shutdowns in comparison to
        cryogenic methods.
      </li>
      <li>
        The unit is readily accessible, facilitating swift delivery and
        purchase.
      </li>
    </ul>
  </div>

  <div class="slider">
    <app-specification
      title="Capacity of Gaztron’s Oxygen Generator (10-60 NM3) In Terms of Cylinder Filled & Beds Catered"
      description="Gaztron's Gox model Oxygen Generator is a trusted and versatile piece of equipment that has demonstrated exceptional performance in producing oxygen gas. It has been a vital asset in India's fight against COVID-19, providing essential services to hospitals across the nation."
      [tableContent]="tableContent"
      [headings]="tableHeadings"
      [backgroundColor]="'#493AB1'"
      [headerColor]="'#FFFFFF'"
      [textAlign]="'center'"
    ></app-specification>
  </div>

  <div class="slider">
    <app-scope></app-scope>
  </div>
  <div class="slider">
    <div class="heading">
      Delivery Period of Gaztron’s VPSA Oxygen Generator (10-60 NM3)
    </div>
    <div class="divider"></div>
    <ul>
      <li>45 days</li>
    </ul>
  </div>
  <div class="slider">
    <div class="heading">
      3D Reference Technical Drawing of Gaztron’s VPSA Oxygen Generator (10-60
      NM3)
    </div>
    <div class="divider"></div>
    <div class="purifier-image">
      <img src="assets/images/cudx.png" alt="" />
    </div>
  </div>
  <div class="slider">
    <app-generators
      mainImage="assets/images/generator-logo.png"
      mainTitle="What sets our Oxygen Generator apart from others"
      [content]="generators"
    ></app-generators>
  </div>
  <div class="slider">
    <app-questions
    [questions]="questions"
      [color]="'#354ed2'"
      [backgroundColor]="'#FFFFFF'"
      [image]="'assets/images/question-blue.png'"
    ></app-questions>
  </div>
  <div class="slider">
    <app-quote [options]="options" selected="option-4"></app-quote>
  </div>
  <div class="slider">
    <app-brochure></app-brochure>
  </div>
  <div class="slider">
    <app-more-products></app-more-products>
  </div>
  <div class="slider">
    <app-contactpage></app-contactpage>
  </div>
</div>
