.title{
    font-family: DM Sans;
font-size: 24px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
margin: 20px;
}
.main-container{
    margin-bottom: 30px;
}
.divider{
    height: 2px;
    width: 100%;
    background-color: #E7E6E4;  
}
.description{
    font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.04em;
text-align: left;
margin: 20px;
}
.table-container{
    width: 100%;
    padding-inline: 20px;
}
table{
    width: 100%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #000000;
}
th{
    height: 50px;
    font-weight: bolder;
}
th:first-child{
    border-radius: 8px 0 0 0;
}
th:last-child{
    border-radius: 0 8px 0 0;
}
td{
    height: 70px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
td:last-child{
    border-right: none !important;
}
td,th{
    padding-inline: 20px;
}
tfoot th{
    border-radius: 0 0 8px 8px;
}
@media screen and (max-width: 800px) {
    th {
      display: none;
    }
  
    td {
      display: grid;
    }
  
    td::before {
      content: attr(data-label);
    }
    tbody tr td:nth-child(1){
        font-weight: bold;
        font-size: 16px;
    }
  }