<div class="main-container">
  <div class="title">
    {{ title }}
  </div>
  <div class="divider"></div>
  <div class="description">
    {{ description }}
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th
            [style.text-align]="textAlign"
            [style.backgroundColor]="backgroundColor"
            [style.color]="headerColor"
            *ngFor="let heading of headings"
          >
            {{ heading }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let content of tableContent">
          <ng-container *ngFor="let column of content | keyvalue">
            <td [style.border-right]="borderRight" [style.text-align]="textAlign">{{ column.value }}</td>
          </ng-container>
        </tr>
        <!-- <tr [style.text-align]="textAlign" *ngFor="let content of tableContent">
          <td>{{ content.composition }}</td>
          <td>{{ content.ms }}</td>
          <td>{{ content.msh }}</td>
          <td>{{ content.dx }}</td>
          <td>{{ content.copper }}</td>
        </tr> -->
      </tbody>
      <tfoot>
        <tr>
          <th [style.backgroundColor]="backgroundColor" colspan="5"></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
