<div class="body">
  <div class="inner">
    <div class="inner-body">
      <h2>About Us</h2>
      <hr />
      <img src="assets/images/10044.png" alt="About" class="img-responsive" />
      <p style="padding-top: 10px">
        Welcome to Gaztron (An ISO 9001-2015 Certified Co.), We Are India’s
        Leading manufacturer of high-quality On-Site PSA Nitrogen & Oxygen Gas
        Generator Plants. Our technology-driven approach ensures that we provide
        our clients with the highest quality custom-made solutions as well as
        standard industrial solutions, at the lowest energy costs.
      </p>
      <br />
      <p>
        Our unwavering focus on research and development, coupled with a
        certified quality assurance system, allows us to provide unparalleled
        products and services to our clients across the globe. Our commitment to
        eco-friendly and cost-efficient solutions not only helps you succeed in
        your business but also ensures a sustainable future for generations to
        come.
      </p>
    </div>
  </div>
  <div class="inner">
    <div class="inner-body">
      <app-key-products></app-key-products>
    </div>
  </div>

  <div class="inner">
    <div class="inner-body">
      <app-generators
        mainImage="assets/images/qualities-logo.png"
        mainTitle="What Makes Gaztron Gas Generators Different"
        [content]="generators"
        mainDescription="Utilizing the latest technologies and processes, Gaztron delivers highly
          efficient and reliable systems that not only meet the current needs of its
          customers, but also anticipate their future requirements. Gaztron's
          dedication to continuous improvement and innovation ensures that it stays at
          the forefront of the industry, offering cutting-edge solutions that set new
          standards for performance and reliability."
      ></app-generators>
    </div>
  </div>

  <div class="inner">
    <div class="inner-body">
      <app-certificate></app-certificate>
    </div>
  </div>

  <div class="inner">
    <div class="inner-body">
      <app-quote [options]="options"></app-quote>
    </div>
  </div>

  <div class="inner">
    <div class="inner-body">
      <app-contactpage> </app-contactpage>
    </div>
  </div>
</div>
